[2020-11-16 19:11] amurphy-cl opened #32 "Copyright and BSD license"
Do we want to include copyright and BSD 3-clause license info here and in the client libraries repo?

[2020-12-17 18:23] amurphy-cl opened #31 "Support Decision Points in Multiple Simultaneous Experiments"
See screenshot. Was working to QA a concept builder experiment, and I had made a similar one a couple months ago and enrollment was completed. When I tried to create the new experiment, I saw an error that the Experiment Site was already in use (despite the old experiment no longer running). We need a better way of handling the ability to create a new experiment using the same Experiment Site ID a

[2021-01-07 14:18] SritterCL opened #30 "Add Archive status for experiments"
We should add an "archived" status for experiments. Archived status can be reached from any status *except* enrolling (if an experiment is enrolling and needs to be stopped, it should go to cancelled status).

The semantics of archived status is described in the spec:
https://docs.google.com/document/d/1X-DBcyz7nTwk_MLg8kYfWg1Uspb9bx0y9OEgi_T0tLI/edit#heading=h.1z8xhfd43vmo

Basically, "archived"

[2021-01-21 16:17] amurphy-cl opened #33 "Usability changes to backend API web tool"
As a follow-up to today's meeting, jotting down some design changes that would help make the backend API tool more user-friendly and easier to understand.

1.  Show Host URL after it has been set
2. Rename `Experiment Partition Information` to  `Experiment Site Information`
3. Rename `Partition ID` to just `ID`
4. Persistent confirmation Mark Experiment has been completed successfully

[2021-01-26 22:29] SritterCL opened #29 "Log errors, warnings and info"
We should distinguish three different types of logging.

An Error means that UpGrade is unable to continue normally. For example, if an experiment requires assignment by group and no group has been set for the user, that's an error. The user gets the "default" condition.

A Warning means that UpGrade has detected a strange situation but can continue. If a user's working group is specified but the

[2021-01-26 22:35] SritterCL opened #28 "Verbose logging"
For each experiment, UpGrade should allow the user to enable verbose logging.

Under verbose logging, UpGrade logs any API calls (as "info" log messages). For example, when getAllExperimentConditions is called, each experiment that is in verbose mode should log something like:
INFO: getAllExperimentConditions: experiment: "experimentName", user: "userID", condition: "conditionCode", enrollmentCode

[2021-01-26 22:37] SritterCL opened #27 "Update enrollment codes to enums"
It looks like the enrollment codes are strings, rather than numbers (enums would be OK).

It also looks like enrollment code was set to null on an error (rather than an error code). Here's my suggestion:
0 - participant was included in experiment
1 - participant excluded due to unspecified error
2 - participant reached experiment point prior to experiment enrolling
3 - participant was on exclusion

[2021-01-26 22:56] SritterCL opened #26 "Context metadata to specify platform-specific enums"
Right now, UpGrade requires some amount of coordination between the software development team working on an app and the researcher defining an experiment in UpGrade. The researcher needs to input experiment points and IDs when defining an experiment, but there is no way for the researcher to know whether that point and ID exist, and it is easy to make a typo on these kinds of IDs.

The context met

[2021-01-29 18:59] amurphy-cl opened #25 "Experiment enrollment status and History on dashboard"
After an experiment status has changed to Enrolling, you can't see when enrollment started. We have when the experiment was "created on", but will need to know when enrollment was started and when it was completed, during and after experiment enrollment.

[2021-01-29 19:56] amurphy-cl opened #24 "Deleting conditions in dashboard"
When going back to edit an experiment, the list of Conditions automatically rearranges the order of Conditions and also only allows removal of the last two Conditions. We should be able to remove any Condition

[2021-02-01 03:14] SritterCL opened #23 "Condition assignment weights should allow decimals"
The UI allows you to input decimal weights (e.g. I have an experiment with 8 conditions, and I can set the weight to 12.5 for each), but the "assignments weights sum must be 100", so I assume the system considers decimals to be invalid.

I don't see any particular reason not to allow decimals.

I think there should be an "equal assignments" checkbox which just automatically updates the weights to

[2021-02-02 19:01] amurphy-cl opened #22 "Metrics and repeated measures"
Currently, when using the monitored metrics tool, you are forced to pick a repeated measures treatment when you select a metric to be monitored. If your desired metric is Average on the metric timeSeconds, and your repeated measures treatment is Mean, we should still see the requested Average of timeSeconds data from students when we run the monitor even if there are no repeat measures from any st

[2021-02-04 21:11] amurphy-cl opened #21 "Removing an UpGrade user"
I noticed in the UI that while there is an option to Add User (with associated roles), we don't have a way to Remove User. A couple of the users in the CL instance of UpGrade are no longer with the company, so we'll want to have the ability to remove them from the list.

[2021-02-05 20:51] amurphy-cl opened #20 "Day of week in enrollment UI doesn't match real enrollment date"
Day of week that shows participant enrollment isn't lining up with the actual day of experiment running.
Also ideally we should show month/day, possibly even month/day year instead of simply day of week since most experiments will cross multiple weeks.

[2021-02-08 17:56] SritterCL opened #19 "Enrollment and metric data is inconsistent"
Sometimes when I look at an experiment, I see no enrollees (see first screenshot). Then I go out and back into the experiment and see some enrollees (see second screenshot). These screenshots were taken 2 minutes apart. I suspect there's some kind of timeout error (sometimes) happening on the server.

Also, in the second screenshot, you can see no data under "average time to complete workspace". I

[2021-02-08 19:54] SritterCL opened #18 "Inconsistent sorting of Experiments"
Go to the list of experiments, sort by name, click on an experiment, then go back to the list. They are no longer sorted by name.

Sort by name should be the default.
We should maintain sort order within a session (so if you sort by status, it stays that way until either you log off or change the sorting).

[2021-02-10 19:30] msandbothe opened #17 "AA2 no enrollments after 5+ days (Unit of Assignment School)"
0 Group Excluded, Participant Excluded has stalled. 0 Enrolled. Investigate as to if this is expected or in error.

[2021-02-25 14:14] mfugate1 opened #16 "Add support for using mysql database"
Let's start by getting an idea of the level of effort it will take to switch from postgres to mysql.

The goal is to be able to use an aurora mysql database in the CL UpGrade environments

Related issue: https://github.com/CarnegieLearningWeb/UpGrade/issues/1160

[2021-03-10 19:52] msandbothe opened #15 "Calling /api/assign immediately after /api/init results in 500 Server Error"
See below for curl/response. Subsequent calls to assign succeed.

`curl -X POST "https://upgradeapi.qa-cli.com/api/init" -H  "accept: application/json" -H  "Content-Type: application/json" -d "{  \"id\": \"thisisafakestudent3\",  \"group\": {    \"schoolId\": [\"fake1\", \"fake2\"]   },  \"workingGroup\": {}}"`

Returns 200

`curl -X POST "https://upgradeapi.qa-cli.com/api/assign" -H  "accept: app

[2021-03-17 16:02] amurphy-cl opened #14 "Ability to change Ending Criteria when re-enrolling"
When an experiment reaches Enrollment Complete, and we want to re-start enrollment, we should be able to make some modifications to the ending criteria (say we originally enrolled 500 students, but want to only enroll 200 more for the second enrollment period). Right now we can't make modifications to those criteria.

[2021-03-31 17:28] msandbothe opened #36 "Create test scripts that define/clear experiments for automated testing"
Expand them to define a set of experiments. Ideally write these in python so they can be called from the Locust scripts.

In the short term, we're concerned with creating a standard environment for reproducing bugs, but this will lead into a maintainable unit testing process.

[2021-03-31 17:41] amurphy-cl opened #13 "Enrollment doesn't end after criteria has been met"
In our AA1 experiment on QA that we left open for Locust testing, the ending criteria was 500 students. However, the enrollment status is still listed as Enrolling despite the enrollment count being 6804 students.

[2021-04-01 19:44] amurphy-cl opened #12 "Fix spelling of "enrollment" in code"
Currently the concept of `enrolment` is misspelled with only one "l". Please find and replace these instances so that the correct spelling is used: `enrollment`.

[2021-04-01 19:49] amurphy-cl opened #11 "Change EES terminology to UpGrade"
EES, or Educational Experiment Service, was the temporary name for this project. References to EES should be changed to UpGrade where possible. Examples where the name UpGrade should be used are:

1. Code that references the project
2. Documentation that references the project
3. New consolidated repo (aka issue CarnegieLearningWeb/educational-experiment-service#97)

[2021-04-08 14:30] amurphy-cl opened #10 "Term changes: Experiment Point/Site vs. Decision Point/Coordinated Decision Point"
Let's discuss how and what to finalize our terminology for Experiment Points/Experiment Sites (formerly Partitions). In a paper, @SritterCL referred to them as Decision Points (vs. Experiment Point) and Coordinated Decision Point (vs. Experiment Site) as a potentially more effective way of communicating the concepts involved. However, as Derek noted in today's meeting, we also want the concepts to

[2021-04-16 09:17] nirmalpatel opened #9 "Add checks and failsafe measures to the experiment scheduler"
Some additional measures to make experiment scheduling more robust and error free:

- Double check the experiment start/end date when automatically starting/ending the experiment
- Return HTTP response code to the Lambda that gets triggered at the time of the schedule so that the Lambda can retry experiment start/top if the initial call fails
- Add transactions wherever needed in this process

[2021-04-22 14:37] mfugate1 opened #6 "[backend] Add support for specifying clientApi config with environment variables"
I'd like to be able to specify values for this part of config.json with two environment variables instead:
[code]
Similar to how we already do that for context and adminUsers. We'll need two variables, maybe:
CLIENT_API_SECRET
CLIENT_API_KEY

[2021-04-23 18:24] amurphy-cl opened #8 "Experiment description should be optional"
Noticed when testing today. I think it's ok to have Description be optional (as I think it was at one point).

![image](https://user-images.githubusercontent.com/65311369/115914141-8ec37080-a43f-11eb-89ec-f5806f7375b4.png)

[2021-04-28 20:15] msandbothe opened #7 "/mark returns 504 timeout error"
Noticed that locust script was failing on every call to /mark. I attempted to recreate this via curl commands and am hitting the 1 minute timeout on /mark. Of note /assign is returning fine in the command line, but producing an error in the UI

INIT
`curl -X 'POST' \
  '$/api/init' \
  -H 'accept: application/json' \
  -H 'Content-Type: application/json' \
  -H "Authorization: Bearer $(< token.txt

[2021-04-29 14:47] #8 closed

[2021-04-29 15:17] #18 closed

[2021-04-29 15:21] amurphy-cl commented on #23
Where are we on this one? Is this fixable by 2021/5/6?

[2021-04-29 15:45] msandbothe opened #34 "Data export links from email are inconsistent"
When exporting json experiments from qa-cli. I noticed that an inactive experiment with no monitored data, the 2 entries (data json and metadata) link to reversed (metadata and data json respectively).

[2021-04-29 17:34] amurphy-cl commented on #24
This is not quite fixed. We can delete the first and second conditions only when there are 3+ conditions. We still want to be able to delete conditions even when there's only 1 or 2 so there remains 1 or 0 conditions (but add the requirement that you need at least one condition).

I'll put the sorting bug in a new issue.

[2021-04-29 17:36] amurphy-cl opened #35 "Condition auto-resorting"
When creating multiple conditions, the system auto-resorts them in an order that 1) is not the original order they were entered, and 2) cannot be changed. Conditions should be shown in the order they were added. In this example, I added in order A, B, C, D but when checking the dashboard or going to edit the experiment, it shows this.

![image](https://user-images.githubusercontent.com/65311369/11

[2021-04-29 22:06] ppratikcr7 commented on #24
@amurphy-cl Yes. I have made the changes accordingly and it will show a validation message in case of less than one condition is present.

[2021-04-30 12:36] ppratikcr7 commented on #7
Hi @msandbothe. I tried to call mark from postman and it was a success, I was able to get enrolment count increased. Please see the below screenshot. I figured out that the current locust script fails on /mark call with timeout error is due to the functionality set in that script. Actually the script first asks to delete one or all experiments. Then it asks to create 'n' experiments and based on t

[2021-04-30 12:53] nirmalpatel commented on #36
@ppratikcr7 Let us do the work in the new repo now. I transferred the issue.

[2021-05-02 04:42] nirmalpatel commented on #32
@amurphy-cl GitHub has a template library of licenses. If you go to the repo home page, then click Create New File like this:

![image](https://user-images.githubusercontent.com/830400/116802199-b3e66c00-ab2e-11eb-84ba-f5f8a9c80628.png)

Then name your file "LICENSE" and a new template button will appear on the top right of the editing pane:

![image](https://user-images.githubusercontent.com/8304

[2021-05-02 05:47] ppratikcr7 commented on #36
@nirmalpatel Okay. Awaiting response from CL team for the above proposed changes.

[2021-05-02 19:10] ppratikcr7 commented on #23
Almost there, just need to figure out the backend table schema update. It should be fixed by 2021/5/6.

[2021-05-03 03:35] msandbothe commented on #36
Yes, raise the PR.

[2021-05-04 14:30] msandbothe commented on #7
I went through my curl commands again and I think I got it working, but I think the API might be confusing me. The results from /assign give me `{"expId":"volume_surface_area_cone_vol","expPoint":"SelectSection","twoCharacterId":"RU","assignedCondition":{"conditionCode":"default"}}`

If I plug that in to the /mark command as I would expect (`"experimentPoint": "SelectSection", "partitionId": "volu

[2021-05-04 19:17] msandbothe opened #39 "/assign provides wrong conditions"
@ppratikcr7 and I were debugging #7 and found discrepancies between what /assign provides and /mark expects.

result from /api/assign
[
   {
      "expId": "absolute_value_plot_equality",
      "expPoint": "SelectSection",
      "twoCharacterId": "N7",
      "assignedCondition": {
         "createdAt": "2021-04-07T18:12:25.844Z",
         "updatedAt": "2021-04-07T18:12:25.844Z",
         "versionN

[2021-05-04 19:29] msandbothe commented on #7
#39 tracks the issues regarding conditions returned from /assign. This may or may not be the root cause of the 504 timeout mentioned by this issue.

[2021-05-04 19:30] msandbothe commented on #39
![Screen Shot 2021-05-04 at 12 00 45 PM](https://user-images.githubusercontent.com/6402566/117059293-a4615180-aced-11eb-9b9b-f591a62af37f.png)
![Screen Shot 2021-05-04 at 12 01 06 PM](https://user-images.githubusercontent.com/6402566/117059295-a4f9e800-aced-11eb-8ef4-49c017b94317.png)
![Screen Shot 2021-05-04 at 12 01 13 PM](https://user-images.githubusercontent.com/6402566/117059298-a4f9e800-aced

[2021-05-04 19:49] ppratikcr7 commented on #7
Okay. Let me check the above issue #39 as discussed on slack.

[2021-05-05 11:40] ppratikcr7 commented on #39
Hi @msandbothe,

I figured out the issue, you are using wrong keys for the group and workingGroup, the experiment AA1-AA3 on which you are trying to call the api calls have group type as "class" or "school" and "teacher" and you are using "classId", "schoolId" and "instructorId" in place. This was giving conditionCode as "default" in the /assign call. Do try with the above change and you would get

[2021-05-05 11:46] ppratikcr7 commented on #7
@msandbothe  I have responded back on issue #39, we can now close issue #7 and #39 as both seemed to have some format corrections in the curl requests.

[2021-05-05 13:42] amurphy-cl commented on #39
Guys - are you not using the same script? It's not clear why Michael's keys would be different from Pratik's keys if you're using the same file to run these tests.

[2021-05-05 13:44] ppratikcr7 commented on #39
Mike is testing using curl commands to test. I guess the scripts should be same and run fine.

[2021-05-06 07:02] JD2455 commented on #26
@msandbothe PR #37 for this is merged.

1. We need to add EXP_POINTS and EXP_IDS separated by @ in environment variables in backend.
2. Environment variable's values will be used to show experiment points and Ids in the dropdown at the time of creating or
    updating experiment.

[2021-05-06 13:06] msandbothe commented on #39
Verified that using the appropriate strings for group/working group corrects this.

[2021-05-06 13:06] #39 closed

[2021-05-06 13:08] msandbothe commented on #7
Still investigating, even after correcting the group key issue found in #39, the AA1 experiment /mark call still fails to return.

[2021-05-06 13:11] #36 closed

[2021-05-06 14:04] msandbothe commented on #7
I created a shallow copy of AA1 on a different site ID, First attempt at /mark succeeded.

One hypothesis I thought of is that AA1 v1 has 295 students enrolled (experiment should at 500). Is it possible that another number is being compared to 500 and saying "no more enrollments", and causing mark to fail silently perhaps. This could be related to #13 in that case.

[2021-05-07 07:02] ppratikcr7 commented on #7
Hi @msandbothe , I tried to check your hypothesis on AA1 experiment. I have set the enrollment end criteria to “1 Student” to quickly check your hypothesis. I enrolled one student successfully without any /mark call 504 error. After that it shows the “Enrollment Complete” Status as seen in below screenshot. Now, I tried to enroll another student where I call the assign api and I am getting the res

[2021-05-08 08:58] ppratikcr7 commented on #26
We merged it but then realized that it will slow down the QA process because we were not allowing experiment creation unless the point/ID were valid. So we are raising this backtracking [PR](https://github.com/CarnegieLearningWeb/UpGrade/pull/44) which is merged now and it just comment out one line in the frontend that does the validation. We can think about the validation and whether we want to a

[2021-05-10 13:37] mfugate1 opened #45 "Backend >= 1.0.31 has high error rate and transaction times in CL prod environment"
I attempted to deploy 1.0.33 to prod over the weekend while traffic was minimal, but as soon as it finished deploying, new relic reported incidents because of long transaction times and high error rates. I also tried deploying 1.0.35 and 1.0.31, same issue, so it looks like whatever is causing this was introduced in 1.0.31.

The transaction that was causing the issue is a POST to /api/mark. This o

[2021-05-10 14:08] jerith666 commented on #45
Here's what changed between 1.0.30 and 1.0.31:
https://github.com/CarnegieLearningWeb/UpGrade/compare/upgrade-backend-v1.0.30...upgrade-backend-v1.0.31

[2021-05-12 04:10] JD2455 commented on #6
@mfugate1
I've added variables named _CLIENT_API_SECRET_ and _CLIENT_API_KEY_ in environment variables which is used to validate all client SDK calls coming to upgrade server.

To generate jwt token for client SDK,
`const data = {
          APIKey: env.clientApi.key,
        };
  const tokenSigned = jwt.sign(data, env.clientApi.secret);`

 _tokenSigned_ will be passed in the request header for cli

[2021-05-12 12:42] mfugate1 commented on #6
@msandbothe I merged this into main and deployed to QA. I sent you the key and secret in an email, can you test to see if it works?

[2021-05-12 13:41] msandbothe commented on #6
@mfugate1 I confirmed that a jwt token created with the key/secret you sent me works on upgrade qa cli. Also verified that an incorrect key/secret hits the authentication error.

[2021-05-12 13:41] #6 closed

[2021-05-12 17:11] SritterCL commented on #45
So where do we stand on this? @VivekFitkariwala - do you think the refactoring fixed this bug? Are you waiting for someone else to test this?

[2021-05-12 17:13] msandbothe commented on #7
Tentatively closing as can't reproduce with new experiment.

[2021-05-12 17:13] #7 closed

[2021-05-12 17:14] msandbothe commented on #13
Created an experiment that completes after 5 enrollments. Enrolled 5 students and experiment properly completed.

[2021-05-12 17:14] #13 closed

[2021-05-12 17:16] mfugate1 commented on #45
It is unlikely that Vivek's commit will fix this issue, but I will try deploying it to prod this weekend anyways just to make sure.

[2021-05-12 17:19] amurphy-cl commented on #15
@msandbothe will test this after making changes to Locust script

[2021-05-12 17:23] amurphy-cl commented on #28
@nirmalpatel can you explain what the new "logging" checkbox provides and whether all UpGrade user roles can use/see it?

[2021-05-12 17:48] SritterCL commented on #45
Can we reproduce this on QA first?

[2021-05-12 17:50] #24 closed

[2021-05-12 18:03] mfugate1 commented on #45
Until the locust script is updated, I'd have to set AUTH_CHECK=false for QA so it doesn't have to authenticate when calling experiment endpoints. If we're ok with having the API wide open I can make that change

[2021-05-12 18:25] msandbothe commented on #45
I'm going to work on the locust script now to add an option that goes against existing experiments. It should be simple, so leave the AUTH_CHECK on in QA and we can hopefully test in QA tomorrow.

[2021-05-13 11:14] ppratikcr7 commented on #23
@amurphy-cl  I have created a [PR](https://github.com/CarnegieLearningWeb/UpGrade/pull/51) for it.

[2021-05-13 12:17] nirmalpatel commented on #28
@amurphy-cl when you turn on "logging" for an experiment, it will start logging /assign and /mark calls for that experiment into the backend's running terminal. This is to help with QA/debugging.

[2021-05-13 13:49] SritterCL opened #52 "GetAllExperimentConditions should never return "default""
Currently, GetAllExperimentConditions returns "default" as the condition, in some circumstances. In others, the experiment is omitted from the return value (so the client provides the default condition).

The return value from GetAllExperimentConditions should only include experiments where the user has a condition - never "default."

[2021-05-13 13:51] SritterCL opened #53 "UpGrade should not allow users to define a condition called "default""
"Default" is a reserved word, so it shouldn't be allowed as a condition name (case-insensitive - so Default, DEFAULT, etc. are also forbidden).

The user should get an error message if they try.

[2021-05-13 14:16] msandbothe commented on #15
Testing revealed another 500 error, but relating to /mark. See #52

No 500 errors from /assign. Closing.

[2021-05-13 14:16] #15 closed

[2021-05-13 14:17] msandbothe commented on #52
Calling /mark with condition value "default" results in a 500 server error.

[2021-05-17 06:55] VivekFitkariwala commented on #45
Added a [PR](https://github.com/CarnegieLearningWeb/UpGrade/pull/54) for filtering experiments which are not assigned any condition.

[2021-05-17 07:12] VivekFitkariwala commented on #52
Added a [PR](https://github.com/CarnegieLearningWeb/UpGrade/pull/54) for filtering experiments which are not assigned any condition.

[2021-05-17 07:18] VivekFitkariwala commented on #53
I think this is not necessary as now we are not returning any unassigned experiment which means client will only get experiments which are assigned to a condition so if we define 'default' as a condition client application will get 'default' as the condition assigned and for the experiment in which user is excluded we will get null.

[2021-05-17 08:06] nirmalpatel commented on #53
@VivekFitkariwala so do you mean to say that if we define an experiment with two conditions "default" and "variant" then only the student assigned the condition "variant" will get their assignment information? And everyone assigned "default" will simply not receive their assignment from the getAllExperiments() ?

[2021-05-17 09:14] VivekFitkariwala commented on #53
No. "default" will be treated just as any other condition. So a user assigned to "default" condition will get "default" on the application end when called `getExperimentCondition`.
The users which are excluded from the experiment will receive `null` for that experimentId and experimentPoint.
Server will not return any condition and on the client side when application calls `getExperimentCondition`

[2021-05-17 09:20] nirmalpatel commented on #53
But I thought "default" was a reserved keyword, and in case of some error some issue, the user would get assigned the "default" condition which is the original learning experience... so maybe we should never let UpGrade assign "default" but only fall back on "default" in case of some error...

But then we have revert to "default" which would explicitly return "default" to users?

[2021-05-17 13:09] SritterCL commented on #53
I agree with Vivek's comment that this isn't strictly necessary, but I still think it's a good idea. "Default" is used at the user level (in "revert to default") and in things like documentation (when we talk about the user experience, it makes sense to say things like "students who are excluded from the experiment get the default condition").

So there's no technical reason to exclude default but

[2021-05-19 17:56] JD2455 commented on #14
@amurphy-cl
I've created a PR #55  to fix the issue.

It will allow to modify enrollment ending criteria even if experiment is in _Enrollment Complete_ state.

[2021-05-19 17:58] JD2455 commented on #34
@msandbothe
I've created a PR #56  to fix sign urls for Experiment Json Data and Experiment Metadata in exporting experiment from dashboard.

[2021-05-20 13:32] #52 closed

[2021-05-24 12:34] mfugate1 commented on #45
Mentioned this on slack but realized I should add it here as well.

I merged that PR into main and deployed 1.0.39 into prod but still observed errors for `api/mark` calls

[code]

[2021-05-24 12:35] nirmalpatel commented on #45
@mfugate1 can you see if this PR https://github.com/CarnegieLearningWeb/UpGrade/pull/57 fixes that issue?

[2021-05-24 12:39] mfugate1 commented on #45
Thanks @nirmalpatel, I will try this tonight when traffic on prod is low

[2021-05-24 13:42] ppratikcr7 commented on #45
Hi @mfugate1 @msandbothe, I tried recreating the issue in `api/log` call, but I am unable to get any error. I would need more details like on which scenario does that occur in the PROD environment. I am attaching my log.info for the parameters that would cause the issue you are getting. Please find the below logs for `api/log` call:

`info: [api:services/ExperimentAssignmentService] Add data log u

[2021-05-24 19:50] jerith666 opened #58 ""Users with ids ... already associated with other users" error message should list existing and new users"
Summary pretty much says it all.  It's pretty hard to diagnose this error without knowing both:

1. what user IDs are those alt IDs already associated with?
2. what user IDs is the client asking that they be newly associated with?

[2021-05-25 01:51] mfugate1 commented on #45
No longer observing the issue with 1.0.41 in production, so I'm closing it.

I'm also not seeing that error with api/log. If it pops up again I will open a new issue.

[2021-05-25 01:51] #45 closed

[2021-05-25 13:22] nirmalpatel opened #59 "Error in the alias API [CL integration]"
Mike F reported several errors related to alias API.

[code]

We need to fix this and add additional logging data in this error message as mentioned in #58.

[2021-05-26 08:54] VivekFitkariwala commented on #59
Created a [PR](https://github.com/CarnegieLearningWeb/UpGrade/pull/60) with additional error logs.

Two scenarios should not be created from client application
- An alias pointing to a user should not be updated to point another user.
- An existing user (which is not an alias) should be used alias of other user.

[2021-05-26 08:54] VivekFitkariwala commented on #58
Created a [PR](https://github.com/CarnegieLearningWeb/UpGrade/pull/60) with additional error logs.

[2021-05-26 11:19] nirmalpatel commented on #59
We have two types of users in UpGrade. Root users that get enrolled in experiments, and alias users that can point to one and only one root user. A root user can have multiple aliases.

There are multiple scenarios of erroneous behavior when it comes to aliases. Now we have identified two distinct scenarios and have added detailed error messages for each of them:

1. An alias ID is already associa

[2021-05-26 18:16] #58 closed

[2021-05-26 23:52] amurphy-cl opened #61 "500 error when trying to switch AA3 (2-site experiment) to enrolling in CL prod"
Copying from Slack conversation.

Tried to set up AA3, a 2-site experiment on CL prod, and it failed to switch status to Enrolling, giving a 500 error. This experiment enrolls fine on QA.

![image](https://user-images.githubusercontent.com/65311369/119745316-e0ef1b80-be5b-11eb-86c7-21fd1eddbc7f.png)

[2021-05-27 05:19] nirmalpatel commented on #59
@amurphy-cl @msandbothe Vivek merged PR #60 and that closed issue #58. I'm wondering what series of calls are leading to this error now... did the new error messages help @msandbothe to diagnose the issue?

[2021-05-27 10:23] nirmalpatel opened #62 "Context Metadata / Create an API to change context metadata"
Right now, the context metadata (experiment points and IDs that are valid, and a few other things) come from the environment file of the backend (see #26 for more details).

We need to create a CRUD API for experiment points and IDs and store the allowed values in the DB so that they can be added/removed without restarting the backend.

Questions:
1. Should we allow deleting legal point/ID values

[2021-05-27 13:59] #34 closed

[2021-06-01 18:55] amurphy-cl commented on #23
I'm trying to verify this but how do we want to manage e.g. three approximately-equally weighted conditions? If I set two to 33.3 and one to 33.4, I still get the "must sum to 100" error. Note that 66.6 and 33.4 doesn't work either. I suggest rounding the decimal places so we can enable these.

[2021-06-02 13:05] amurphy-cl commented on #23
Thanks @ppratikcr7! My mistake, didn't notice it had yet to be merged :)

[2021-06-03 05:26] nirmalpatel opened #63 "Experiment deletion taking time"
Hey @SritterCL @msandbothe we looked more into the experiment deletion time. It looks like in the current logic, when we delete an experiment, we also delete the rows of the markExperimentPoint log table that have the experiment points and IDs of the experiment being deleted.

We can either disable the deletion of markExpPoint log on experiment delete or index the DB table and get some speedup.

I

[2021-06-03 11:26] ppratikcr7 commented on #53
[PR](https://github.com/CarnegieLearningWeb/UpGrade/pull/64) has been raised for this issue.

[2021-06-04 13:42] SritterCL commented on #62
My view of the context metadata is that it's a contract from the app saying that the app code supports certain experiment points. That's why it makes sense to make this an API (a command from the app), rather than environment files on the UpGrade side.

So, for #1, if the app says that an experiment point no longer exists in the code, but there's an active experiment that's using that experiment p

[2021-06-07 13:09] nirmalpatel opened #67 "Excluded user semantics"
@SritterCL @amurphy-cl I found out that in our current implementation when you start enrolling students in an experiment, you explicitly exclude all of the users who have visited the points/IDs of that experiment. And even if these users don't visit those points/IDs again, they will remain marked as excluded from the experiment. So the current implementation is:

Number of Excluded Users = (Users

[2021-06-07 13:19] amurphy-cl commented on #67
A note that I think we should avoid double-counting excluded users (or at least report somewhere how many are double-counted), e.g. "before AND after" because otherwise it muddies the picture of how many _participants_ are excluded vs. how many _visits_ are excluded.

[2021-06-07 13:49] SritterCL commented on #67
Yeah, I think we should be counting participants, not visits.

I'm also not clear how you're counting students who are in groups, where the group is excluded (do they get counted at mark experiment point or before?)

Also, if the consistency rule is "experiment," then users who have previously been marked at the experiment point should *not* be excluded (not sure if you're checking that).

[2021-06-09 17:54] #61 closed

[2021-06-09 17:54] #63 closed

[2021-06-09 18:19] msandbothe opened #69 "Calls to /assign before /useraliases cause unlinkable "alias" users"
When /assign (and possible /mark) are called on a userId that does not exist, a new root user row is created for them in the DB. This can happen due to out of order calls or an unhandled failure in earlier init calls.

What solution should we provide to downgrade these users from root to alias of another user. It will need to handle possible inconsistencies in group exclusion.

[2021-06-09 18:21] msandbothe opened #70 "Java API should not attempt retry on nonretryable errors"
Errors like 'x are root user and should not be converted to an alias of y' is not something that a retry should fix and thus should not attempt 3 times. This improvement can be made to the Java and Angular APIs separately.

[2021-06-09 18:21] msandbothe opened #71 "Angular API should not attempt retry on nonretryable errors"
Errors like 'x are root user and should not be converted to an alias of y' is not something that a retry should fix and thus should not attempt 3 times. This improvement can be made to the Java and Angular APIs separately.

[2021-06-10 09:00] nirmalpatel commented on #69
So as I understand this, it looks like the alias user's assign call is coming in first, making the alias user a root user. And the root becomes the alias, and subsequent calls to the useralias API are then failing. If this is not the correct description, please let me know.

After some discussion, it seems like an init() call to explicitly initialize the root user might solve the problem. We can a

[2021-06-11 10:02] nirmalpatel opened #72 "Set experiment group key from context metadata"
The group keys for class, school, and instructor are right now hardcoded as "class", "school", and "teacher". We need to have a way to define custom keys for class/school/instructor. We can add this detail in the context metadata.

[2021-06-11 18:50] SritterCL commented on #72
Yes - the spec here https://docs.google.com/document/d/13SvJajnCcH0cqMD7gPqb5MWmynzJrVqmD5a5tooPeNo/edit#heading=h.ytlzcnrrqnwt has the group types specified in the metadata (for each AppContext).

[2021-06-13 19:19] VivekFitkariwala opened #74 "Improve speed of metric query and analytics query"
For large data-set enrollment information on home page and metric query takes long time or in some cases timeout.

[2021-06-14 10:14] nirmalpatel opened #76 "Add API and DB monitoring services in the backend"
We need to add some off-the-shelf tools into our workflow that can help us monitor API response times and DB load. The first step will be to identify the tools that can help us easily monitor system health. If you have any suggestions for the tools, please mention them.

[2021-06-14 19:09] ppratikcr7 opened #77 "Verify all class-validator decorators using DTO"
We need to verify all validation decorators for its proper functioning using DTO(Data Transfer Object). Also write unit tests for the same.

[2021-06-16 17:08] #59 closed

[2021-06-16 17:09] msandbothe commented on #59
Continued by #69

[2021-06-17 13:07] #74 closed

[2021-06-17 13:34] amurphy-cl commented on #69
@SritterCL do we want to redefine how we handle alias users before we proceed with this fix? e.g. create single UUID that isn’t a “root” but refers to a set of aliases, so UpGrade can accept multiple alias IDs that never get removed. If we can answer this, the next step will be to figure out the work involved in the solution (via PP input)

[2021-06-17 16:58] SritterCL commented on #69
Yeah, assuming that this isn't adding a lot of extra work, I'd prefer a solution where we're not assuming one user ID has a different status from the others. I can imagine that with other applications (like if we do the LDI connector thing), students might have different IDs coming from different places with no reason to declare one of them the root.

[2021-06-18 09:47] nirmalpatel commented on #69
@SritterCL so in a scenario where the portal call fails and subsequent calls succeed, and MATHia will first UpGrade with a ctcontextid. Then later, when the user comes back at the portal and the portal call succeeds, we will need both the user ID and the ctcontextid for the call otherwise the user ID may get a new random assignment...

[2021-06-21 05:17] ppratikcr7 commented on #12
@amurphy-cl This issue is resolved and PR is merged. If verified can you please close this issue?

[2021-06-21 05:19] ppratikcr7 commented on #14
@amurphy-cl This is fixed and PR is merged. If verified, can you please close this issue?

[2021-06-21 14:38] SritterCL commented on #69
Yeah - my assumption is that, at some point, UpGrade needs to get a message saying that ID1 and ID2 are for the same student and, at that point, UpGrade should merge those. The fact that MATHia considers ID1 to be a userID and ID2 to be a ctcontextID is irrelevant to UpGrade - they're just 2 IDs for the same user.

So, let's say portal fails and user ID1 gets assigned in Experiment 1. The user the

[2021-06-21 18:52] jerith666 commented on #69
Steve, you weren't at the last status meeting, but I thought there we settled on an explicit `init` call for users, and then if UpGrade sees a `setAltIds` or `getAllExperimentConditions` request for a user it doesn't know about, it ignores it and/or returns default conditions for everything.  @amurphy-cl @msandbothe , sound right?

[2021-06-21 19:09] #12 closed

[2021-06-21 21:42] amurphy-cl commented on #69
Yes, this sounds right, and iirc Playpower preferred this approach as well.

[2021-06-23 17:28] msandbothe commented on #76
@mfugate1 Do you have any insights?

[2021-06-23 17:31] mfugate1 opened #81 "Frontend build:prod error"
Caused by 1eb32f6c

Steps to reproduce:
`npm ci`
`npm run build:prod`

[code]

[2021-06-23 17:37] amurphy-cl commented on #72
Closing this; @SritterCL will be opening a related issue.

[2021-06-23 17:37] #72 closed

[2021-06-23 17:40] msandbothe commented on #81
Name for CONTEXT was changed to APP_CONTEXT in #80

[2021-06-23 17:40] SritterCL opened #82 "Context Metadata / Metadata should be scoped within app context"
The context metadata is specific to the appContext. So, the group types are specific to the app context, since different apps might have different groupings. For example, one app might know about classes and schools, while another knows about cities and states. An experiment defined for one app could have different groups available than an experiment defined for a different app.

The same is true

[2021-06-23 17:48] mfugate1 commented on #81
I added APP_CONTEXT to staging with the same value as CONTEXT. 1.0.48 still won't start. Any other environment variables I should know about?

[2021-06-23 17:51] msandbothe commented on #81
GROUP_TYPES

https://github.com/CarnegieLearningWeb/UpGrade/pull/80/files#diff-d3ff7c7dbc02dbb854a52aef526595e57036c038b4ababd3799b5c1568458bae

[2021-06-23 17:53] amurphy-cl commented on #62
Can this be closed? Related to #82

[2021-06-23 18:08] mfugate1 commented on #81
Ok, the backend failing to start was only because of the missing env variables.

The problem is with the test case in local-storage.service.spec.ts 'should load initial state', it needs to be updated to have the same properties in the ExperimentState interface. I tried doing that myself but then it throws a NullInjectorError in another test, so someone else will need to take a look at this.

[2021-06-23 18:14] JD2455 commented on #81
ack @mfugate1 . I'm fixing prod build and will create a PR in a while.

[2021-06-23 18:24] JD2455 commented on #81
@mfugate1 I've created a PR #83 to fix the frontend build:prod error. Can you merge and check?

[2021-06-23 18:28] #81 closed

[2021-06-24 13:38] amurphy-cl opened #84 "UpGrade query performance"
Query UpGrade for metrics data and enrollment data on the UI is still very laggy.
Step 1: CL will provide PP exported data to recreate on their end.

[2021-06-24 13:42] msandbothe commented on #84
@mhglover You have a workflow for exporting our Upgrade data from Production? Could you provide that data to Playpower?

[2021-06-29 11:32] VivekFitkariwala commented on #71
@amurphy-cl and @msandbothe did you guys verified this?

[2021-06-30 05:04] nirmalpatel opened #87 "Testing"
sdfdsfdsfds

[2021-06-30 05:05] #87 closed

[2021-06-30 05:09] nirmalpatel opened #88 "Build a deployment pipeline for ECS"
We need to create a deployment pipeline for ECS.

[2021-06-30 17:12] msandbothe commented on #21
@YashilDepani What needs CL review on this? Do we need to better spec out the requested enhancement?

[2021-06-30 17:15] amurphy-cl commented on #71
I think once @ppratikcr7 reviews/approves #78 we can verify this

[2021-06-30 17:18] amurphy-cl commented on #14
We are waiting to fulfill enrollment on at least one experiment in production before verifying

[2021-06-30 17:20] amurphy-cl commented on #88
Can we add a richer description for this?

[2021-06-30 17:23] amurphy-cl commented on #23
Waiting to see if this affects migration

[2021-06-30 17:29] msandbothe commented on #77
@ppratikcr7 could you assign a priority and describe impact of not having this improvement?

[2021-06-30 17:32] msandbothe commented on #62
@YashilDepani Is this resolved by #80 or is there more to do?

[2021-06-30 17:37] amurphy-cl commented on #32
PR #89

[2021-06-30 17:37] #32 closed

[2021-07-01 05:21] ppratikcr7 commented on #71
@amurphy-cl I have reviewed and approved it now. You can verify the PR.

[2021-07-01 05:25] VivekPlaypower commented on #62
No this is not resolved by #80. We need extra work for this.

[2021-07-01 05:26] VivekFitkariwala commented on #62
No this is not resolved by #80. We need extra work for this.

[2021-07-01 12:58] nirmalpatel commented on #69
@SritterCL here are the scenarios that I worked out with one simplifying assumption: If UpGrade is up, all calls of one user are succeeding (this will be 99.9% I guess?)

With this assumption, we can look at these scenarios when UpGrade crashes and we have users online (0 means API fail, 1 means API success):

      Init            SetAltIDs               Assign              Mark
        0

[2021-07-01 12:59] nirmalpatel commented on #62
@SritterCL @amurphy-cl I guess we only allow to delete point/ID combinations when we don't have any associated experiments that are active, right?

Also makes me think about the archive status...

[2021-07-01 13:26] mfugate1 commented on #76
I'm not familiar with anything other than New Relic, but I'm guessing you're probably looking for free/cheap tools, and New Relic is anything but that.

I'd think the monitoring available in AWS would be sufficient for showing DB load, although it would be tough to correlate performance there with response times.

For simple system health, you could create a dashboard in Cloudwatch

[2021-07-01 14:22] mfugate1 opened #90 "Condition auto-resorting / Database error for backend 1.0.53"
08931634 new column 'order' for condition and partition for sustaining orginal order (Ridham)

[code]

[2021-07-04 10:23] RidhamShah commented on #90
created PR  - [PR](https://github.com/CarnegieLearningWeb/UpGrade/pull/92)

[2021-07-05 09:51] nirmalpatel commented on #69
@jerith666 regarding the scenarios where earlier calls fail and later calls succeed, all of them will have init() failing and mark() succeeding, meaning that the user will get a default condition and we will know that they got the default condition next time they visit the same experiment site. So I think overall, the user will get excluded when their initial calls fail and later calls succeed.

[2021-07-05 10:08] YashilDepani commented on #21
@msandbothe, I have made a [PR](https://github.com/CarnegieLearningWeb/UpGrade/pull/91) regarding this issue. In this, I have added the delete option for removing an UpGrade user. On clicking the delete-icon it prompts the dialogue box asking for confirmation. Type "delete" to confirm the delete.
![image](https://user-images.githubusercontent.com/51193749/124454293-f3873980-dda5-11eb-88ce-69528f5b

[2021-07-05 10:38] YashilDepani commented on #25
@amurphy-cl, I have made a [PR](https://github.com/CarnegieLearningWeb/UpGrade/pull/65) regarding this issue. In this PR, whenever the state changes for the experiment (say from inactive to enrolling, from enrolling to enrollment complete, etc) we have added the time logs.
1. When the user changes the state of the experiment, it keeps track of every transition of state in the DataBase.
2. On click

[2021-07-06 06:07] dhavalocked commented on #76
@mfugate1  Yes NewRelic is costly! as in alternative you can check `[Elastic APM](https://www.elastic.co/guide/en/apm/agent/index.html)`. Integration in Node JS is very easy and it will allow you to add profiling the way you want for the app! You will be able to get API response times and query response times!

AWS also gives you x-ray-trace to profile your APIs.

[2021-07-06 09:39] nirmalpatel commented on #82
@SritterCL Hey is it fine to make a simplifying assumption for now that one experiment would only run within one context?

[2021-07-06 14:56] mfugate1 commented on #90
Still seeing this issue with that PR merged in version 1.0.55:
[code]

[2021-07-06 15:13] nirmalpatel commented on #90
Thanks @mfugate1 for the info. We will work on our CI pipeline first, recreate the issue, and then verify the solution for the next PR.

[2021-07-07 09:28] nirmalpatel opened #93 "All UpGrade users in the environment file get created on every server restart"
We recently implemented the delete user functionality in #21. In this implementation, when we restart UpGrade, all of the users in the environment file will be created again. So if someone deletes a user that exists in the environment file, on the next server restart, that user will keep coming back.

One workaround: only keep the bare minimum list of users in the environment file

Some solutions:

[2021-07-07 09:29] nirmalpatel commented on #21
Closing this and and more discussion will be in the #93

[2021-07-07 09:29] #21 closed

[2021-07-07 09:37] nirmalpatel commented on #90
@mfugate1 can you tell what is the commit ID of the current live deployment? (or the backend and frontend version)

[2021-07-07 11:25] mfugate1 commented on #90
For our staging environment:
Backend: 1.0.52 (7642243)
Frontend: 1.0.42 (e29c4b8)

[2021-07-07 13:18] amurphy-cl commented on #25
This looks good. Thanks for the clear description of the update! @msandbothe can you review the PR when you get a chance?

[2021-07-07 13:44] jerith666 commented on #69
but the `mark()` call use the alias, not the root user ID.  Does that matter?

[2021-07-07 16:53] YashilDepani commented on #25
@amurphy-cl and @msandbothe there is one point to be noted before the PR of this issue is merged.
we just need to make sure the experiments are not in enrolling state before it is merged. Otherwise, the row data will be inconsistent. Enrollment complete, inactive, canceled anything is fine.

(More in detail)
If the experiment is in enrolling state and then the PR is merged. The code doesn't know y

[2021-07-07 19:22] amurphy-cl opened #94 "Reliability of student metrics data by condition"
In the metrics monitor, students who are assigned a condition show up in the data. However, students _not_ assigned a condition are also showing up in the data (for example, if there is a typo in the condition name). This is not the right behavior, and students who are assigned an invalid condition should not appear in the metrics log.

[2021-07-07 19:28] amurphy-cl commented on #84
@mhglover pinging you for that workflow if you can still provide it

[2021-07-08 09:06] nirmalpatel commented on #94
@amurphy-cl can you give more details about how to reproduce this bug? I'm not sure how condition name typo error would happen (unless someone was manually doing the markExpPoint())

[2021-07-08 10:30] nirmalpatel commented on #69
@jerith666 looking further, it looks like mark() creates a user if it does not exist. And if you are providing an alias in the mark(), then the actual marking happens with the root ID and not the alias. So if we disable user creation everywhere except in init(), then the mark() call with an alias or root ID will fail unless the init() call succeeded.

[2021-07-08 10:33] nirmalpatel opened #95 "Populating initial data in the DB from the environment file"
Right now, every time UpGrade starts, we take some initial values (users, exp point/IDs, group keys) from the environment file and populate the DB with those values (DB only gets users for now, but we will be storing point/ID, etc. when we deal with #62). If these initial entries in the DB are modified/deleted, the init values defined in the env file will get populated again in the DB when the ser

[2021-07-08 13:02] #71 closed

[2021-07-08 13:05] #14 closed

[2021-07-08 13:07] #53 closed

[2021-07-08 13:18] amurphy-cl commented on #69
@SritterCL do we want to spec out further details about upgrade behavior if, e.g., upgrade is down in a student's session 1 and up in a session 2, in addition to other scenarios? Holding off on this until you weigh in.

[2021-07-08 17:44] mhglover commented on #84
We want to provide the data, not just the process for exporting it, right?  I've dumped the prod database using the command below and I've sent April the link to download it from S3.  This export was only about 55MB, does that sound right?

`pg_dump --file "upgrade-prod-postgres-2021-07-08" --host "production-cli-upgrade-production-postgres.c0ehk0fl3zte.us-east-1.rds.amazonaws.com" --port "5432" -

[2021-07-09 20:01] jerith666 commented on #94
The typo isn't in the code that calls `markExperimentPoint()`.  It's in the definition of the experiment (because we don't have validation, cf #26).

The application does call `failedExperimentPoint()` instead of `markExperimentPoint()` in this case, but it appears UpGrade is not taking note of that & using it to exclude metrics about that user.

[2021-07-09 20:07] jerith666 commented on #69
Yeah, I think having the `markExperimentPoint(userAlias)` fail if either of the preceeding calls -- `init()` or `setAltIds()` -- hasn't happened yet is fine.

[2021-07-13 14:47] msandbothe opened #99 "Add ability to limit Upgrade to specific product versions"
As implementers of UpGrade deploy variants to their products, those variants will exist only on specific versions. Many products host multiple versions in production at a time. We need the ability to limit UpGrade to specific product versions so that users are not assigned to conditions that do not exist.

The mechanism for this is somewhat compromised and we need to implement it in the general ca

[2021-07-13 15:13] nirmalpatel commented on #99
@msandbothe what do you think about creating app contexts for different versions and handling it that way?

[2021-07-13 15:16] msandbothe commented on #99
I think that separate app contexts could be a stopgap fix and doable at the major version level. I do not like this as a long term solution and would add a lot of overhead if a change happens on a minor version.

[2021-07-13 17:09] nirmalpatel commented on #84
@amurphy-cl can you share the S3 download links with us?

[2021-07-14 14:06] YashilDepani commented on #25
@amurphy-cl and @msandbothe, I have fixed the above issue. You can ignore my previous comment.

[2021-07-14 17:05] #90 closed

[2021-07-14 17:08] #25 closed

[2021-07-14 17:15] msandbothe commented on #35
Unclear what is left to be done here. Should the PR have closed this?

[2021-07-14 17:39] msandbothe commented on #20
Any hypotheses from investigating this yet?

[2021-07-14 17:40] amurphy-cl commented on #84
Shared - let us know what else you need for progress on this.

[2021-07-14 17:47] SritterCL commented on #17
This is OK now - needed to create custom group.

[2021-07-14 17:47] #17 closed

[2021-07-14 18:30] SritterCL commented on #82
@nirmalpatel - yes. Someday, we'll need to worry about experiments spanning contexts but we don't need to think about that now.

[2021-07-15 05:59] RidhamShah commented on #35
Yes, this issue is completed.

[2021-07-15 06:21] #35 closed

[2021-07-15 13:32] msandbothe opened #100 "Flexibility in User Aliases API - Associate"
When thinking of how user aliases should function (for #69) in a general case (not MATHia specific),  we came up with the following example.

1. MATHia user that may or may not be initialized in UpGrade
2. Khan user that may or may not be initialized in UpGrade
3. LTI user that is not yet initialized in Upgrade
4. LTI needs to initialize user and link LTI, Khan, and MATHia users together, but does

[2021-07-15 13:36] msandbothe opened #101 "Handle nontrivial merging of UserIds"
Extension of #100. How do we merge two users that have conflicting assignments when we discover that they are actually the same user (via the /aliases command). We may need api caller to specify resolution hints.

[2021-07-15 13:56] msandbothe opened #102 "Handle merging (trivial and nontrivial) of groups"
Building off of #101, We have a potential merge issue of group consistency that can occur when a user who was not in a group is transferred into that group in the future.

Let's imagine the case where we have
- User 1 in Class A
- User 2 in Class B
- An experiment with Class Group Consistency and 2 conditions.
- User 2 is added to Class A (they are now in both classes).

We then have to handle the

[2021-07-15 16:18] jerith666 commented on #99
it's not clear to me which of UpGrade's API calls should be affected by the product version, and how they should behave when the product reports and incompatible version.  I think that's probably the way to start thinking about this.

We also need to keep in mind that there may not be one overarching "product version" -- that's certainly true in Mathia.  E.g. the `portal` and `assignProg` app cont

[2021-07-17 09:16] RidhamShah commented on #20
The issue is nearly solved - now we can get client Timezone through API and the server will make changes according to it and display properly. Also if the client changes the timezone the graph will be adjusted according to the new timezone.

[2021-07-22 11:29] nirmalpatel commented on #84
Vivek has done testing locally where he is not facing any issues. He will be testing this in our AWS infrastructure soon.

[2021-07-22 11:30] nirmalpatel commented on #69
We have made changes to the backend code and JS client library. Java client is remaining, hoping to get that done over the weekend...

[2021-07-23 09:09] nirmalpatel opened #105 "Create a single page application to demo UpGrade's assignment and metric functions"
Current version: http://upgrade-client-sdk-frontend.s3-website-us-east-1.amazonaws.com/

Need to make changes to this for the new JS client lib.

[2021-07-23 10:10] nirmalpatel opened #106 "UpGrade documentation"
Need to create different types of documentation:
- Usage guide (for researchers)
- Hosting guide
- Integration guide
- API docs
- Database schema diagram

[2021-07-26 10:11] nirmalpatel commented on #69
Java client changes were made by Jaydip. Now the code reviews from PPL and CL are remaining.

[2021-07-28 17:05] #20 closed

[2021-07-28 17:16] amurphy-cl opened #107 "Ending criteria UI - click to review enrollment details"
For group enrollment, it would be helpful to have an enhanced UI such that when you click on the ending criteria, you can see how close you are to meeting this. Example: AA2 has ending criteria of 50 schools, 20 students per school. We'd like to click on this during enrollment to see how close we are to meeting the criteria.

[2021-07-28 17:25] amurphy-cl commented on #105
Noting that this will be used for XPrize. We need a website that can be used as the experimental application, where we make some selection to run the app, and get a visual representation of condition assignment, etc. Sritter will add more details.

[2021-07-28 17:37] amurphy-cl commented on #77
@ppratikcr7 pinging you to provide status/details pls

[2021-07-28 17:46] amurphy-cl commented on #67
Do we need to better define exclusion criteria and place those excluded users into bins in the UI? One way to count excluded students is a) students in these categories who reach getAllExperimentConditions, or b) all students in a category who reach markExperimentPoint for a particular experiment

1. Student reached experiment before enrollment begins
2. Student is on the explicit exclude list
3.

[2021-07-28 17:46] #11 closed

[2021-07-28 17:47] amurphy-cl commented on #11
Assuming this is complete

[2021-07-29 12:50] nirmalpatel commented on #105
Maybe for the start, we can setup a simple login page and a content page:

![image](https://user-images.githubusercontent.com/830400/127494669-6a0ca0b8-98a9-44e9-811f-29e24c5f6f30.png)

![image](https://user-images.githubusercontent.com/830400/127494883-5c1d2360-93ea-4297-9976-b9892b11ea3e.png)

And we can modify these pages over time...

[2021-08-01 10:40] VivekFitkariwala commented on #84
The query function was calling the database twice and that was the reason the result was slow for query. Have fixed the issue in the [PR-108](#108 )

[2021-08-01 11:14] VivekFitkariwala opened #110 "Jest error appears different line on the console as where it is suppose to be shown"
Because source map is not used by jest the error appears on different line.

[2021-08-01 11:52] VivekFitkariwala commented on #110
Added [ts-jest](https://www.npmjs.com/package/ts-jest) which uses source map internally.
And also moved the jest config to a separate file jest.config.js

[2021-08-04 17:16] amurphy-cl commented on #106
Gitbook space created at https://app.gitbook.com/@upgrade-platform/s/upgrade-documentation/
We still need to integrate it here in Github.

[2021-08-04 17:26] amurphy-cl commented on #82
@RidhamShah can you show us an example structure of `CONTEXT_METADATA`? Is this just the same as the json structure that gets sent in the API?

[2021-08-04 17:43] msandbothe opened #111 "Add `TYPEORM_MAX_QUERY_EXECUTION_TIME` to a `.env.example` or `.env.test` file so that it doesn't get missed"
@VivekFitkariwala Can we add `TYPEORM_MAX_QUERY_EXECUTION_TIME` to a `.env.example` or `.env.test` file so that it doesn't get missed?

_Originally posted by @JD2455 in https://github.com/CarnegieLearningWeb/UpGrade/pull/108#discussion_r680804919_

[2021-08-04 17:44] #84 closed

[2021-08-04 17:45] #110 closed

[2021-08-04 17:54] amurphy-cl commented on #105
CL team is working on refining spec for what this demo will do (design and functionality).

[2021-08-05 06:40] nirmalpatel commented on #106
We can link **docs.upgradeplatform.org** to the GitBook page, and then share the docs link on the Wiki and other READMEs.

This is the workflow for custom domain linking:

![image](https://user-images.githubusercontent.com/830400/128303317-ed11570b-cda1-4ce9-8d5b-b01144b647e9.png)

![image](https://user-images.githubusercontent.com/830400/128303288-8c5229e2-fc78-4532-8506-1d3a8c9b561f.png)
![image

[2021-08-05 10:07] RidhamShah commented on #82
JSON format
[code]

Stringify format I am using

CONTEXT_METADATA = {"add":{"EXP_IDS":["add-id1","add-id2"],"EXP_POINTS":["add-point1","add-point2"],"GROUP_TYPES":["add-group1","add-group2"]},"sub"{...}}

[2021-08-05 10:08] RidhamShah commented on #20
@amurphy-cl This issue is solved when I created the PR.

[2021-08-05 13:21] SritterCL commented on #82
I think it makes sense to merge the ID/Point pair within an experiment site, and also list the conditions available at each site (so they can be validated).

We should also add a "description" field to the experiment site and also to the groups. These descriptions will be used as tooltips for UpGrade users, so they know what each experiment site and group-type should be used for (see

Something li

[2021-08-05 13:30] SritterCL commented on #82
Also - we should add some metadata to the condition to indicate whether the condition is identical to "default."

[2021-08-06 05:53] ppratikcr7 commented on #77
@msandbothe @amurphy-cl Sorry for the delayed response, missed this notification in the mail.

Proirity is low as correctly assigned by @amurphy-cl . There is no impact on current working, we just wanted to organize the class validator decorators in a proper DTO (Data Transfer Object) format, so that its easy to manage later.

[2021-08-06 15:52] nirmalpatel commented on #82
@SritterCL we had a discussion and it seems like conditions nested within the IDs can cause an issue. For example, if you are doing a two-site experiment and both sites (or point-ID pairs) can have a different set of possible conditions. In our current UX design, the conditions are independent from the sites...

[2021-08-12 12:52] RidhamShah commented on #82
I customize the API call of Context Metadata as per the new JSON format of `CONTEXT_METADATA`. Now on changing the `app-context` in UI the `group-types` will also change according to it. Also, it will change the `exp-points` & `exp-ids` on the experiment-design page. If `group-types / exp-points / exp-ids` are already selected for an `app-context`, and on changing, the values of all will become nu

[2021-08-17 14:17] nirmalpatel commented on #27
@SritterCL we had some more discussion on this. The first step towards solving this is to finalize our first list of codes, then publish those as enums in the `upgrade_types` NPM package, and then go on to change the backend code.

Here is your last list of codes where I split out the INCLUDE into ASSIGN and ENROLL:

1. **ASSIGN** - participant was assigned a condition in the experiment
2. **ENROL

[2021-08-18 05:51] ppratikcr7 opened #115 "Conditions are not synced properly in Post Experiment Rule as in Experiment Design (modal)"
1. Conditions are getting appended in post experiment rule modal when creating a new experiment when changing condition names again. I changed condition names from { a, b } to { a, c} and it shows conditions as { a, b, a, c } as seen below:
<img width="934" alt="Screenshot 2021-08-18 at 11 19 18 AM" src="https://user-images.githubusercontent.com/33730817/129844399-eaad7774-69ec-467e-928e-d8d82baa3

[2021-08-18 07:42] VivekFitkariwala commented on #111
- Updating sample files with TYPEORM_MAX_QUERY_EXECUTION_TIME variable
- Updating Terraform script with TYPEORM_MAX_QUERY_EXECUTION_TIME variable

[2021-08-18 10:58] VivekFitkariwala opened #117 "Fixing ErrorHandlerMiddleware to show proper error on console"
Some of the error gets missed while throwing error in incorrect format.

[2021-08-18 18:15] msandbothe commented on #27
Can we have EXCLUDED_DUE_TO_GROUP_LOGIC

[2021-08-18 18:18] msandbothe commented on #27
@jerith666 Do you know the answer to the publishing changes to `upgrade_types` NPM package? (@msandbothe if we change the upgrade_types NPM package and merge the PR, will it get published automatically in the public NPM repository?)

[2021-08-18 22:22] jerith666 commented on #27
I don't; @mfugate1 should be able to tell us.

I thought everything was here in one repo, though, so I'm curious why it's necessary to wait for an artifact to be published at all.

[2021-08-19 10:09] nirmalpatel opened #118 "Infinite loading in the enrollment count by condition section"
In some instances, we are seeing an infinite loading for the enrollment count by condition section. Vivek also noted that this happens for him when he loads the DB with the CL data export, starts the server, and opens the experiment for the **first** time.

Ridham is trying to recreate the issue.

[2021-08-19 10:11] nirmalpatel opened #119 "QueryFailedError: cannot cast jsonb null to type numeric"
Some metric queries are throwing the QueryFailedError due to a type cast issue. We need to ignore the JSON documents that are causing the casting issue so that the query can run successfully.

Error:

[code]

Reference query: BSNL environment, all "accuracy" metric queries

Hypothesis: possible that data is corrupt

[2021-08-19 10:17] nirmalpatel opened #120 "Reloading of the experiment detail page does not work"
Right now, when you reload the experiment detail page, you only get the left menu back but the detail section goes blank. See below:

![image](https://user-images.githubusercontent.com/830400/130051910-8b450fff-d420-4c0d-9e33-5f601af6765f.png)

In the network tab, we see a 404 error that might be related:

![image](https://user-images.githubusercontent.com/830400/130051966-80c421ac-3856-4df1-9f1f-

[2021-08-19 10:20] nirmalpatel opened #121 "All metric queries should not fail if one of the queries fail"
Right now, on the experiment detail page, we show the results of all of the metric queries at the bottom. A single query goes to the server trying to get results for all of the 'sub queries'. If one of the 'sub queries' fails, we don't see any result.

This is part 2 of issue #19 where Steve mentioned "Also, in the second screenshot, you can see no data under "average time to complete workspace".

[2021-08-19 10:22] nirmalpatel commented on #19
@SritterCL @amurphy-cl the first part of this issue (no data in graph for the first time, visible data on refresh) might be:

- Related to #118 (infinite spinner for enrollment by condition section)
- OR solved when we solved the query performance issue
- OR a separate issue

The second part of the issue (missing metric data) is being tracked in #121

[2021-08-19 13:24] amurphy-cl commented on #117
This addresses errors that not being logged properly on the console. Fixing it will add appropriate error logging.

[2021-08-20 09:08] VivekFitkariwala opened #122 "Simplify CI/CD process for both frontend and backend"
Some of tasks

1. Remove separate environment from terraform and use different tfvars to run different environment
2. Merge frontend code in the backend Upgrade and serve the app via a route
3. Remove Terraform script for frontend

Please add other changes if needed

[2021-08-25 11:06] RidhamShah commented on #82
With the change in the format of CONTEXT-METADATA there are some changes to be done in UI and backend for excluding groups.

[2021-09-01 05:59] VivekFitkariwala opened #129 "Query data not displayed on UI"
When running the query from the UI sometimes the data doesn't appear on the UI and on the subsequent run data shows up.

The network tab shows the http request is 200 so the error seems from the frontend.

<img width="1430" alt="Screenshot 2021-08-31 at 2 59 48 PM" src="https://user-images.githubusercontent.com/3822890/131619586-ac401a8b-5a99-4faf-941b-c771ee105e26.png">

[2021-09-01 17:45] msandbothe commented on #122
Copy/Paste from meeting notes
Currently separate repos for frontend/backend and terraform scripts
    We don’t really need separate hosting or terraform scripts anymore, can simplify CI/CD process by not having separate scripts on a per-environment basis. MF also has perspective on this - secrets variable file that is brought in for the environment, use same main.tf file for each env. Vivek will a

[2021-09-02 09:15] nirmalpatel commented on #82
We are testing the new terraform variables that we added to solve this issue. Code changes have been done.

[2021-09-03 13:57] ppratikcr7 commented on #115
In this issue below things are done:
1. Conditions are not getting appended in post experiment rule modal when creating a new experiment when changing or adding a new condition again by traversing back.
2. On editing a condition and saving it will not close the dialog box and let user to navigate to post experiment rule and select newly edited condition too.
3. On deleting a condition (while editi

[2021-09-08 11:49] RidhamShah commented on #82
Everything is completed. Also, the problem of opening old experiments after the new context-metadata throws error is solved.

[2021-09-08 13:00] ppratikcr7 commented on #27
@SritterCL We had a discussion on this issue while working on it and we have decided to include one more enum called `INCORRECT_GROUP_OR_WORKING_GROUP = 'participant's group or working group is incorrect'`.

[2021-09-08 17:19] #129 closed

[2021-09-08 17:41] mfugate1 opened #133 "Frontend unit test failure in 1.0.51"
[code]

The changelog:
• 4df8eb87 code review changes for refactoring and minor edge case resolution (pratik)
• 0f900127 deleting condition assigned in post experiment rule will assign default condition (pratik)
• 803470ba edit post experiment conditions on saving midway with alert popup for saved experiment details (pratik)

[2021-09-08 17:48] msandbothe commented on #121
@nirmalpatel Was this what we saw during the Battleship NL 2 hour meeting on Sept 8th?

[2021-09-08 21:26] SritterCL commented on #27
OK - In general, it's fine to add new codes. Ideally, ERROR should never come up, since everything's covered under a different code. I assume "group of working group is incorrect" means that the group/WG was specified but isn't a valid group.

[2021-09-09 01:59] nirmalpatel commented on #121
@msandbothe yeah, we added a faulty query and that crashed all other working queries, but when we removed that faulty query, the working queries started showing up correctly.

[2021-09-09 09:42] ppratikcr7 commented on #27
Yes, you are right. It means that the group/WG was specified but isn't a valid group. I will update the enum with the new suggested name.

[2021-09-10 15:02] VivekFitkariwala opened #134 "Remove type checking in ts-node to improve dev experience"
Because type checking is coupled with traspilation it takes more time to start the server and also restart. So decoupling both of them will create better dev experience.
Type checking should be moved as a separate command and it should also be checked before committing the code and in CI/CD flow.

[2021-09-10 15:03] jerith666 commented on #134
The code will still be type-checked when it's compiled, though, right?  :)

[2021-09-11 10:31] VivekFitkariwala commented on #134
@jerith666 Yup it will a separate npm command. I have also added description.
I am planning to use [husky](https://www.npmjs.com/package/husky) as pre git commit hook for type checking and lints.

Also for local development use `SWAGGER_ENABLED=false` (if swagger end point is not needed) as it takes a lot of time.

[2021-09-13 10:30] ppratikcr7 commented on #133
@mfugate1 I have resolved this issue and created a PR. We suggest that for future PR merge it would be good if we can decouple the build and deploy into two different action files and trigger the deploy action file when the build is successful. For this we can change the branch settings as shown below with adding the build action yml:

<img width="1247" alt="Screenshot 2021-09-13 at 3 35 39 PM" sr

[2021-09-13 13:27] mfugate1 commented on #133
Yeah I've been slowly adding required status checks for PR merging in other CL repos, just not a high priority atm

[2021-09-15 17:55] #118 closed

[2021-09-15 17:55] #106 closed

[2021-09-15 23:45] zackcl opened #137 "Problem running UpGrade on macOS"
<img width="1628" alt="Screen Shot 2021-09-15 at 7 16 10 PM" src="https://user-images.githubusercontent.com/90279765/133526994-6570f74b-6fa6-486f-90c0-83a588edc95a.png">

When I run UpGrade locally on macOS (11.5.2) and visit http://localhost:4200/, the "ADD EXPERIMENT" button is missing in the page and I get the following 2 errors in the browser console:

[code]

And in the backend Terminal conso

[2021-09-16 14:02] #133 closed

[2021-09-16 14:04] #117 closed

[2021-09-16 14:32] mfugate1 opened #139 "Backend build 1.0.66 failure"
[code]

Changelog since last successful build:
• 3c938a5c Merge pull request #135 from CarnegieLearningWeb/fix/issue-117 (msandbothe)
• c9f92b23 Removing localhost endpoint (Vivek Fitkariwala)
• d67b1945 Updating error logging for services and middleware (Vivek Fitkariwala)
• 321062c2 Fixing throw error in repositories (Vivek Fitkariwala)
• 3744d331 Removing typechecking during transpiling Fixing

[2021-09-17 03:03] zackcl commented on #137
As discussed in the meeting, I was using the old repository and it works fine with the current repository.

I added the updated setup guide for macOS below the original one on the UpGrade Documentation's Hosting page: https://upgrade-platform.gitbook.io/upgrade-documentation/hosting

Please feel free to review and edit the page as you see fit.

[2021-09-17 03:03] #137 closed

[2021-09-17 06:50] nirmalpatel commented on #94
@msandbothe @jerith666 should we add a CONDITIONS field in the new context metadata that only allows selecting valid conditions when creating experiments?

[2021-09-17 14:10] jerith666 commented on #94
Aren't we already heading towards that in #114?

[2021-09-17 14:49] nirmalpatel commented on #94
We are, but we haven't added the CONDITIONS constraint yet.

Let us do it in #114 if you think it is easy to make a list of possible conditions. Can leave it for later if the condition name list is difficult to make for now.

[2021-09-17 17:49] jerith666 commented on #94
Ah, yes, I see.  Yeah, it's not too hard to create a list of conditions under each element in `EXP_IDS` (which in our case is a list of variants under each section id).

[2021-09-20 09:09] nirmalpatel commented on #94
@jerith666 is it okay if we have a `CONDITIONS` field that is independent of the `EXP_IDS` field? Right now in the UI, the user first enters the condition names and then enters the experiment IDs. To make the nesting work where condition names are within experiment IDs, we will have to ask the user to enter the ID first and then enter the condition name.

We can make simple condition filtering wor

[2021-09-20 09:22] nirmalpatel opened #143 "Use upgrade_types package locally"
We need to start importing the `upgrade_types` package locally. To do this, we need to start using npm workspaces in our mono repo.

[2021-09-20 09:47] VivekFitkariwala commented on #119
Things to do
1. Ignore null values for all the operation in query
2. Update existing test case (LogOperations.ts) with addition log which has null value.

[2021-09-20 13:24] jerith666 commented on #94
Yeah, I think it's okay to keep them orthogonal to start with.  That'll still help a lot with avoiding typos.

[2021-09-20 19:33] VivekFitkariwala opened #144 "Updating github actions to decouple build, test and deploy. And for PR's, build and test step should run."

[2021-09-20 19:34] VivekFitkariwala commented on #144
Creating a separate ticket from [this](https://github.com/CarnegieLearningWeb/UpGrade/issues/133#issuecomment-918059145) discussion

[2021-09-22 21:21] zackcl opened #148 "UpgradeClient's methods not accepting JavaScript object type as arguments"
I followed the [sample code](https://gist.github.com/JD2455/819b178bd43fc3da376eb2d6ddc55c3b) which I got from @VivekFitkariwala and found out that `UpgradeClient`'s `init()`, `setGroupMembership()`, and `setWorkingGroup()` methods do not accept JavaScript object type as arguments unlike what is written in the [sample code](https://gist.github.com/JD2455/819b178bd43fc3da376eb2d6ddc55c3b#file-upgra

[2021-09-23 10:20] VivekFitkariwala commented on #148
I agree with @zackcl. We can use [Typescript Record](https://www.typescriptlang.org/docs/handbook/utility-types.html#recordkeystype) instead of Map.

[2021-09-23 13:21] jerith666 commented on #148
A bit of an aside, but is something misconfigured that prevented this error from being caught at compile time?

[2021-09-23 13:24] nirmalpatel opened #149 "Migrate legacy documentation from the Playpower gitbook into UpGrade gitbook"
We need to completely migrate our old documentation from https://app.gitbook.com/@playpower/s/upgrade-documentation/integration into this https://app.gitbook.com/@upgrade-platform/s/upgrade-documentation/

If there is anything in the Playpower gitbook that is not in the UpGrade gitbook, we should move it to the UpGrade gitbook.

[2021-09-23 13:29] msandbothe commented on #148
As expected, portal create a map in the way that works.
`map(classes => {
                  const memberships = new Map<string, string[]>();
                  memberships.set("schoolId", schools);
                  memberships.set("classId", Array.from(classes.keys()));
                  memberships.set("instructorId", ... )
                  );`

[2021-09-23 15:26] zackcl opened #150 "Importing the UpGrade client library (JS) without Webpack"
As discussed in the meeting, I was able to import the UpGrade client library with the following steps:

1. Run `npm install upgrade_client_lib`.
2. Make the library file accessible from the client by adding `app.use(express.static(path.join(__dirname, "node_modules/upgrade_client_lib/dist")));` in the node express server.
3. Import the bundle.js file by adding `import "/bundle.js";` in the client

[2021-09-24 00:12] zackcl opened #151 "Disable suggested password popup for the Experiment point input in Chrome"
When I add a new experiment and click on the Experiment point text input, Chrome shows a suggested password popup that blocks the autocompleted list, and also it doesn't make sense because the Experiment point is not a password.

<img width="1648" alt="Screen Shot 2021-09-23 at 6 14 01 PM" src="https://user-images.githubusercontent.com/90279765/134598819-d3b43577-6d3f-45ae-b5a3-da02e32e425d.png">

[2021-09-24 01:08] zackcl opened #152 "Scheduling an experiment start date/time doesn't seem to work"
When adding a new experiment, if I mark the "Start Automatically" checkbox and choose a current date/time (as the default suggestion), the experiment doesn't seem to start automatically after adding it.

<img width="1648" alt="Screen Shot 2021-09-23 at 8 32 11 PM" src="https://user-images.githubusercontent.com/90279765/134601448-7f3c2b1b-cf97-4d52-8e46-72a6c51c9f75.png">

As you can see from the s

[2021-09-24 07:02] nirmalpatel commented on #93
Handling this in #95

[2021-09-24 07:02] #93 closed

[2021-09-25 06:38] nirmalpatel commented on #152
@zackcl I'm not sure if you are aware of the Lambda function that gets manages the scheduling of the experiments. You won't see auto start/stop unless that function is deployed etc.

[2021-09-25 06:42] nirmalpatel opened #153 "Validate experiment points and IDs with context metadata when an experiment moves out of the Inactive mode"
In #82, we are enhancing our context metadata which now specifies the list of valid experiment points, IDs, and conditions for every unique context (see #114 for the metadata format). Currently, the context metadata is used to give the user suggestions for valid point/ID/conditions in a dropdown. The user is still allowed to enter random values and create the experiment and start enrolling. We nee

[2021-09-25 06:45] nirmalpatel opened #154 "Return an empty object for experiment point/ID where user is getting "default""
UpGrade never returns "default" as the condition for any user. UpGrade's way of saying that this user is in the "default" condition is to not return anything.

Right now, we don't return an object for the experiment point/ID if the user is getting default. This is causing issues on the client-side where the code cannot iterate over the returned values. To get around this, we will return an empty s

[2021-09-27 09:06] #121 closed

[2021-09-28 07:39] ppratikcr7 opened #155 "Assignment Weights can't be negative and Home Page experiment detail time trims a '0' in minutes and hours"
Currently the condition assignment weights allow negative values, which should not be the case.
Also, the home page experiment detail time trims a '0' for minute and hours.
<img width="932" alt="Screenshot 2021-09-28 at 1 08 36 PM" src="https://user-images.githubusercontent.com/33730817/135044140-15974433-49aa-4305-aea4-0ed8714c59f6.png">

[2021-09-29 09:38] ppratikcr7 commented on #82
@msandbothe @mfugate1 You need to add the following variable value either to your elastic beanstalk backend or reploy infrastructure terraform scripts for context_metadata to populate. We are using the below value:

`CONTEXT_METADATA        = "{'add':{'EXP_IDS':['add-id1','add-id2'],'EXP_POINTS':['add-point1','add-point2'],'GROUP_TYPES':['add-group1','add-group2'],'CONDITIONS':['add-con1','add-con

[2021-09-29 12:05] mfugate1 commented on #82
I added it, but that's not why the backend deployment keeps failing. https://github.com/CarnegieLearningWeb/UpGrade/pull/141 needs to be merged

[2021-09-29 12:16] ppratikcr7 commented on #82
Okay, but still we would need to merge this [PR](https://github.com/CarnegieLearningWeb/UpGrade/pull/156) once approved to add new terraform script changes that are missing.

[2021-09-29 17:50] #139 closed

[2021-09-29 19:22] jerith666 opened #159 "Poor error reporting from Java client library"
Our logging shows this output from `ErrorResponse.toString()`:

[code]

This is ... unhelpful.

At a minimum, this should include the raw string that couldn't be read into an entity.  Ideally it would also include the API endpoint that we were trying to hit, and even a summary of the parameters passed in to it.

[2021-09-29 19:22] jerith666 commented on #159
cc @msandbothe

[2021-09-30 09:05] nirmalpatel commented on #149
@ppratikcr7 migrated the documentation. Playpower workspace is now deleted.

[2021-09-30 09:05] #149 closed

[2021-09-30 13:03] #82 closed

[2021-10-01 07:12] #134 closed

[2021-10-13 14:59] SritterCL opened #161 "Support calculated metrics"
A common type of metric represents a difference - for example, elapsed time (end_time - start_time) or test improvement (post_test_score - pre_test_score) or other simple calculation like productivity (workspaces_completed / time).

Our current approach is that the data source (e.g. MATHia) needs to calculate these values. If you want to monitor test improvement in MATHia, MATHia needs to calculat

[2021-10-14 07:33] ppratikcr7 opened #162 "Decide new format of logger and its configuration"
1. Better logger format for debugging in splunk
2. http request id also assigned to each http request in the http middleware

[2021-10-14 07:33] ppratikcr7 opened #163 "JS Client lib integration for new logger"
Integrate new logging format in the JS client library.

Client libs should have provision to pass session id to the logger instance or else Upgrade will create a random session id for a new user-specific session

[2021-10-14 07:34] ppratikcr7 opened #164 "Logger format change in all client controller functions"
We need to add logging in the client controllers to track the flow of client lib API calls.

[2021-10-14 07:36] ppratikcr7 opened #165 "Client libs should have provision to pass session id to the logger instance"
Client libs should have provision to pass session id to the logger instance or else Upgrade will create a random session id for a new user specific session

[2021-10-29 07:03] ppratikcr7 opened #167 "Logger format change APIs called from UpGrade portal"
We need to add verbose logging in the UpGrade portal API calls.

[2021-10-29 07:18] ppratikcr7 opened #168 "Inconsistent init call response from JS clientlib"
Currently the init call for a user gives below response for the first init() call:

`{
  status: true,
  data: {
    id: 'user10',
    group: null,
    workingGroup: null,
    createdAt: '2021-10-29T00:58:27.848Z',
    updatedAt: '2021-10-29T00:58:27.848Z',
    versionNumber: 1
  }
}`

In the next init() call for the same user, we get the below response:

`{ status: true, data: { id: 'user10' } }`

[2021-11-01 06:21] #162 closed

[2021-11-01 09:09] nirmalpatel commented on #165
Continuing this in #163

[2021-11-01 09:09] #165 closed

[2021-11-02 15:33] kawcl opened #173 "Java Client Lib integration for new logger"
Integrate with new logging format in the Java client library.

Client Lib should have provision to pass session id to the logger instance or else Upgrade will create a random session id for a new user-specific session

[2021-11-04 13:54] nirmalpatel opened #175 "Consistency of the API responses"
We recently discovered that `/api/init` call response was not consistent between the 1st and 2nd call.

Following this, we need to check that API responses for all key calls are consistent so that our client libraries do not throw errors.

[2021-11-10 18:45] #168 closed

[2021-11-11 14:48] jerith666 opened #184 "experiments list appears empty due to 500 error from /api/experiments/paginated, caused by SQL syntax error"
We started seeing this recently in our production deployment.  The network debugger shows that a `POST` to `/api/experiments/paginated` (with data `{"skip":0,"take":20,"sortParams":{"key":"name","sortAs":"ASC"}}`) is failing with the following error:

[code]

https://www.postgresql.org/docs/8.1/errcodes-appendix.html says error 42601 is a syntax error.  Position 3457 is here in the query:

[code]

[2021-11-12 14:32] #175 closed

[2021-11-12 14:35] #173 closed

[2021-11-12 14:47] msandbothe opened #185 "uuid module missing in JS Client lib"
From the failure log from the merge action (https://github.com/CarnegieLearningWeb/UpGrade/runs/4190897847?check_suite_focus=true)

ERROR in ./src/UpgradeClient.ts
Module not found: Error: Can't resolve 'uuid' in '/home/runner/work/UpGrade/UpGrade/clientlibs/js/src'
 @ ./src/UpgradeClient.ts 16:13-28
 @ ./src/index.ts

[2021-11-16 15:19] #185 closed

[2021-11-16 18:30] zackcl opened #190 "Email is not being sent on experiment export"
I tried to export an experiment in UpGrade both locally and through our [production website](https://upgrade.carnegielearning.com/) but I have never gotten an email from UpGrade even though it says an email will be sent.

I talked about this in our team meeting and Kyle confirmed that he couldn't get an email either.

EDIT: Wring this issue, I just received an email from UpGrade with the exported

[2021-11-18 14:29] jerith666 commented on #184
This error seems to have gone away in production.  Now we're seeing another 500 error in our QA environment, but there's much less information.  Nothing in the HTTP response; on the server it logs this:

[code]

[2021-11-18 14:41] #159 closed

[2021-11-18 21:37] msandbothe opened #194 "Decouple data export from experiment export"
Data export is an expensive operation that is only useful for a handful of users. We need a way to export the experiment json and other properties without the expensive DB query.

[2021-11-18 21:58] msandbothe opened #195 "Investigate replicating UpGrade DB (read-only replica)"
Queries like data export could go against a read-only DB that is a replication of the main DB. We should investigate creating a read-only replication and offloading read only requests to that DB.

[2021-11-20 15:25] ppratikcr7 opened #199 "API to clear the database"

[2021-11-22 21:25] zackcl opened #200 "Allow any email account domain name for UpGrade"
For the demo app, we'll need to allow any email account domain name for UpGrade and not just playpowerlabs.com and carnegielearning.com so anyone with a Google account can log in to UpGrade.

[2021-11-22 21:36] zackcl opened #201 "Include metric queries in the JSON experiment file."
For the demo app, we need to include metrics in the JSON file so the user can simply import the file and get the metrics working. Just to clarify, can we get this working this week? This is more important than the JSON export/download functionality because we'll make the user import the JSON file in the Welcome Tour. We don't make the user export an experiment for now.

[2021-11-25 06:48] #194 closed

[2021-11-29 15:40] #199 closed

[2021-11-29 15:40] #200 closed

[2021-12-02 14:23] zackcl commented on #201
Should I close this issue? This is fixed now, right?

[2021-12-02 14:56] #201 closed

[2021-12-06 15:06] amurphy-cl commented on #195
@nirmalpatel based on last week's meeting, this task is on-track for this week, right? To be clear, we think it's only data exports that will go to the replica DB. We may change this in the future. LMK if there are any blockers.

[2021-12-06 15:08] amurphy-cl commented on #190
@nirmalpatel This is fixed, right? If so I think we can close it. BUT I will add a separate issue requesting that a log item be added to confirm that the email has been sent.

[2021-12-06 15:10] amurphy-cl opened #208 "Produce audit log of of experiment design export"
When an UpGrade user requests an email link to the data or to the experiment design, we should add this to the log. This way we can track that the emails were actually sent in case they aren't received.

[2021-12-06 15:13] amurphy-cl commented on #184
This will be reviewed at this week's technical meeting as we look over the DB structure.

[2021-12-06 15:18] nirmalpatel commented on #190
@amurphy-cl @ppratikcr7 started working on this issue today. We will fix this first and then go to the replica issue.

[2021-12-06 15:18] amurphy-cl commented on #164
@ppratikcr7 status update on this issue?

[2021-12-06 15:24] amurphy-cl commented on #155
@ppratikcr7 If this is fixed, can we close this issue?

[2021-12-06 15:26] amurphy-cl commented on #154
@nirmalpatel Where are we on this issue? Please add it to the kanban board if in-progress

[2021-12-06 15:30] amurphy-cl commented on #153
We are taking a step to address this on Wednesday.

[2021-12-06 15:34] amurphy-cl commented on #152
@ppratikcr7 @VivekFitkariwala Is this ready to QA? I saw that [PR#157](https://github.com/CarnegieLearningWeb/UpGrade/pull/157#discussion_r723272052) is a work in progress, and seems to address this issue, but would like an update here please.

[2021-12-06 15:35] amurphy-cl commented on #151
@nirmalpatel Status update?

[2021-12-06 15:36] nirmalpatel commented on #152
@amurphy-cl all work on draft PRs was halted to finish the competition-related work. These issues will be picked up back again as we prioritize them.

[2021-12-06 15:42] amurphy-cl commented on #150
@nirmalpatel Can you review Zack's suggestion here and share thoughts?

[2021-12-06 15:46] amurphy-cl commented on #144
@VivekFitkariwala was this fixed in #133 ?

[2021-12-06 15:47] amurphy-cl commented on #143
@VivekFitkariwala can you add a status update?

[2021-12-06 15:48] amurphy-cl commented on #122
@mfugate1 Are you working on this?

[2021-12-06 15:50] amurphy-cl commented on #120
@ppratikcr7 this bug still exists. Let's prioritize this fix.

[2021-12-06 15:51] amurphy-cl commented on #119
@ppratikcr7 Who needs to review this?

[2021-12-06 15:54] amurphy-cl commented on #105
@zackcl let's discuss this as a task for you. We may want to close this issue since the demo was created and open a new one with more specifics.

[2021-12-06 15:58] amurphy-cl commented on #99
Temporarily changing the priority but this will be important to revisit. Related to #153

[2021-12-06 15:59] ppratikcr7 commented on #164
@amurphy-cl This is almost completed in [PR](https://github.com/CarnegieLearningWeb/UpGrade/pull/176). Vivek is looking into one small issue and code review. Will get back to you on this.

[2021-12-06 19:25] ppratikcr7 commented on #163
@amurphy-cl Session id part was completed but the new logger format was in progress.

[2021-12-06 19:31] ppratikcr7 commented on #155
@amurphy-cl Yes, it is fixed. You can merge the [PR](https://github.com/CarnegieLearningWeb/UpGrade/pull/157) and close the issue.

[2021-12-06 19:35] #155 closed

[2021-12-06 19:47] ppratikcr7 commented on #152
@amurphy-cl [PR#157 ](https://github.com/CarnegieLearningWeb/UpGrade/pull/157#discussion_r723272052) had just a part of this issue resolved in it (trimming time). The other part of this issue is not yet resolved.

[2021-12-06 19:49] ppratikcr7 commented on #120
@amurphy-cl Yes, I am working on it.

[2021-12-06 19:58] ppratikcr7 commented on #119
@amurphy-cl I have removed JD, Vivek has approved the changes. You can merge it.

[2021-12-06 20:22] #119 closed

[2021-12-06 20:39] #19 closed

[2021-12-07 10:45] ppratikcr7 commented on #167
@amurphy-cl Ridham was working on this, he will be back soon and revert on this.

[2021-12-07 16:18] ppratikcr7 commented on #208
@amurphy-cl Are you talking about the Audit logs as seen below? If yes, then we already do show email related log. We still need to add `Exporting Design` log in this.
<img width="967" alt="Screenshot 2021-12-07 at 9 46 01 PM" src="https://user-images.githubusercontent.com/33730817/145066137-d1de90d5-246e-4ab2-8e2b-1ea28453b34a.png">

[2021-12-07 16:22] amurphy-cl commented on #208
@ppratikcr7 yeah, now that we separated the design download from the data download, we'll need to add `exporting design`. I'll change the issue title to be more clear!

[2021-12-07 16:23] ppratikcr7 commented on #208
@amurphy-cl Okay. Yeah that would be great.

[2021-12-07 20:55] SritterCL commented on #208
It's a small thing, but I think we should include the email for the data export (just in case that's somehow misconfigured).

[2021-12-08 05:51] VivekFitkariwala commented on #148
@amurphy-cl we have not started on this issue.

[2021-12-08 06:08] VivekFitkariwala commented on #143
Its work in progress. We have stopped it in between as the priority shifted.

Update to CD pipeline is left in the issue.

[2021-12-08 07:21] ppratikcr7 commented on #208
@SritterCL I didn't get you. Do you mean to look for the email not sent bug? If yes, then its already being tracked in #190. I have already verified the latest code works fine for our AWS environment variables and mail is received instantly. I am in discussion with @zackcl to confirm the AWS environment variables being used in the QA by CL's AWS backend deployment. Will get this sorted soon.

[2021-12-08 16:12] ppratikcr7 commented on #208
We are also planning to add a log for `email for data export requested`.

[2021-12-08 18:11] SritterCL commented on #208
No, I just meant to include the email address that the data was sent to in the log message.

[2021-12-08 18:12] amurphy-cl commented on #152
@ppratikcr7 We found that if you schedule the experiment to start at the current time, then complete the experiment wizard, the status does not transition to Enrolling even though it should. Can you look into this?

[2021-12-08 18:14] ppratikcr7 commented on #152
@amurphy-cl Sure. I will look into this.

[2021-12-08 18:19] amurphy-cl commented on #94
We will work on addressing this in the context metadata design

[2021-12-08 18:25] amurphy-cl commented on #27
@ppratikcr7 status update on this issue pls?

[2021-12-08 18:26] mfugate1 commented on #122
No, this will have to wait until next year

[2021-12-08 18:38] amurphy-cl opened #211 "Access to UpGrade API calls for debugging"
One point of access for testing is http://upgrade-client-sdk-frontend.s3-website-us-east-1.amazonaws.com/
Is this part of UpGrade source code?

List of calls in swagger: https://upgradeapi.carnegielearning.com/swagger/

Are all the API calls represented here?
What are the consequences of making calls out of sequence?

Let's discuss this at an upcoming technical

[2021-12-08 18:41] amurphy-cl commented on #105
Closing this, replacing additional work in #211

[2021-12-08 18:41] #105 closed

[2021-12-08 18:55] ppratikcr7 commented on #27
@amurphy-cl Majority of the changes were done. We will pick this up again.

[2021-12-08 19:50] ppratikcr7 commented on #152
For us, it works in our development environment. Please find the below video to show the same. I feel the state machine and lambda function is not mapped, might be the backend deployment is not properly pointed to them as same is observed in mail feature as well.

https://user-images.githubusercontent.com/33730817/145274480-b4a4b189-b2f0-4e75-b44c-1db2643140df.mov

[2021-12-08 21:04] zackcl opened #212 "Suggestion on adding another way to post metrics using the Client Library"
Currently, this is an example of how we post metrics to UpGrade.

[code]

I think problems with this approach are that 1) it's difficult for developers to remember this data structure 2) and they might use incorrect property names by mistake and don't get any errors, 3) If we change any properties/data structure in the future, it will be difficult for them to update the code.

While we can still l

[2021-12-08 22:27] jerith666 commented on #184
I see @VivekFitkariwala pushed https://github.com/CarnegieLearningWeb/UpGrade/commit/1b36dc4a77c98273b10ff328b558bc97cd785599, which looks like it might plausibly be a fix for this issue.  But he hasn't opened a PR yet.

[2021-12-08 22:34] jerith666 commented on #212
Doesn't TypeScript give you compile-time errors that help with all three of the issues you mentioned?

[2021-12-08 23:57] zackcl commented on #212
@jerith666 I'm using the UpGrade client library in JavaScript, and it seems the `log()` function only checks `metrics` and `attributes` properties. For example, the following code worked without an error although `timestamp` and `groupMetrics` were incorrectly used.

[code]
But changing `metrics` or `attributes` to something else produced a `500 (Internal Server Error)` when the `log()` function i

[2021-12-09 01:02] zackcl opened #213 "Auto-refresh experiment data"
It would be nice if the (enrolling) experiments can be auto-updated.

Currently, in order to see the updates on enrollment, the user needs to either refresh the page or click on another tab (e.g. Feature Flags) and then click on the "Experiments" tab.
<img width="1145" alt="Screen Shot 2021-12-08 at 7 44 51 PM" src="https://user-images.githubusercontent.com/90279765/145314015-3360c7dc-4e41-451a-88

[2021-12-10 13:27] jerith666 commented on #212
You shouldn't be able to produce a 500 error by sending bad data to the server (even independent of the official client lib) -- the server should be robust to that and produce a `400 Bad Request` instead.  So I'd open a separate issue for that.

If `timestamp` and `groupMetrics` are indeed optional, it's okay if the server doesn't complain when they're missing.  But it probably should also throw a

[2021-12-14 08:12] ppratikcr7 opened #215 "Trigger mail to the user you add in Upgrade"
We need to inform the user whom we add as a user in upgrade by sending a mail to them.

[2021-12-15 18:31] amurphy-cl commented on #190
@nirmalpatel Are you waiting for us to review this and #208 and merge?

[2021-12-15 18:33] amurphy-cl commented on #195
@nirmalpatel can you give a status update on this at tomorrow's meeting?

[2021-12-15 18:35] nirmalpatel commented on #195
@amurphy-cl no update as there are many issues going on in parallel and only Pratik is there to address them this week. See here: https://github.com/CarnegieLearningWeb/UpGrade/projects/1

[2021-12-15 18:39] ppratikcr7 commented on #190
@amurphy-cl I have already verified this, it works in the same latest CL's main branch code that is deployed to our development environment. I also checked this in the demo application that Zack made with the same experiment. There it doesn't work. The only reason is the environment variables set for `HOST_URL`, `EMAIL_BUCKET` and `AWS_REGION`. If corresponding bucket or host_url is not present th

[2021-12-15 18:50] #208 closed

[2021-12-17 09:04] nirmalpatel commented on #164
Pratik will finish this first as this affects many files in the backend.

[2021-12-17 13:31] ppratikcr7 commented on #164
@amurphy-cl Yes, this is done, I am testing on our development environment, will soon create a final PR and then start with the replica DB issue from monday.

[2022-01-03 09:25] nirmalpatel commented on #167
This issue is addressed by #164

[2022-01-03 09:25] #167 closed

[2022-01-04 08:12] ppratikcr7 commented on #22
@amurphy-cl We tried to test this on current latest main branch code.  We are getting Average/Mean time properly for a single user as well as shown below:

<img width="1393" alt="Screenshot 2022-01-04 at 1 38 35 PM" src="https://user-images.githubusercontent.com/33730817/148028827-5ea86cb3-d5c9-460a-852e-a33cc5e4e71a.png">
<img width="969" alt="Screenshot 2022-01-04 at 1 38 48 PM" src="https://use

[2022-01-04 09:28] RidhamShah commented on #163
I have added 2 new parts for the headers:
`URL` - The URL from where the call is given,
`Client Source` - tells whether the User had given a call from a browser or from node command

[2022-01-05 10:19] YashilDepani commented on #154
Currently the object that is returned ( for non default condition is like this).
[code]

For default condition currently we do not return anything and now instead we would like to return empty object. So we can have two scenarios. Let me know which is the best case:-

Scenario-1
[code]
Scenario-2
[code]

[2022-01-05 14:40] jerith666 commented on #154
I don't think I care too much, as long as both client libraries (TS and Java) can describe this difference in their types such that users of the client libs are forced to account for this.

[2022-01-06 07:32] ppratikcr7 opened #220 "The App context should not allow multiple selections(only one is expected). Also, the auto suggestion for Group Type is not loading instantly."
Following are the issues to be addressed:

1. The App context field while creating a new experiment should only allow a single context to be selected. Currently it accepts a list of context and also allows to add multiple context, which should not happen.
2. On selecting a context, the Group type auto suggestion dropdown doesn't load instantly and takes a few interactions before it gets active.

P

[2022-01-06 09:42] ppratikcr7 commented on #152
Yes it wont work in the demo app same as the mail feature wasn't working, you need backend to be deployed on AWS Elastic Beanstalk for this, as we had discussed earlier for mail not sent issue. You need to have proper AWS environment variables to be set as well.

[2022-01-06 13:47] zackcl commented on #152
Got it, I've requested the redeployment of the demo app to the Elastic Beanstalk, I hope they will help me out soon. I will let you know when I'm able to test this.

[2022-01-10 19:26] #120 closed

[2022-01-13 09:58] nirmalpatel opened #225 "Finalize include/exclude algorithm"
As per our discussion in this doc https://docs.google.com/document/d/1Ldj3YajD7OjhHev4-uuT4YkmMFrMTeKyxg0SFWxsSm4/edit# on page 2:

We define two lists. One is a `IncludeList` and another is a`ExcludeList`. Every list has instances defined by a group key and an ID e.g. "schoolid": "123", "districtid": "abc".

A user object like the following will be sent to the server:

[code]

Based on the keys,

[2022-01-13 16:15] jerith666 commented on #225
Let's just call them `Includelist` and `Excludelist`: clearer what they do, and avoids the general connotation that black is bad and white is good.

[2022-01-13 16:19] amurphy-cl commented on #225
Thanks, Matt. We discussed that in the meeting but good to emphasize that we change the terms now before moving forward.

[2022-01-13 17:18] nirmalpatel commented on #225
I edited the algorithm based on the comments and discussion. Feel free to directly edit my comments directly. Thanks!

[2022-01-19 05:41] #143 closed

[2022-01-19 18:17] amurphy-cl commented on #190
@zackcl do you know what the status is of the internal Jira ticket meant to address the email issue in the CL environment?

[2022-01-19 18:20] amurphy-cl commented on #154
Did we decide on a scenario and do we have a PR for this?

[2022-01-19 20:03] zackcl commented on #190
Here's the link to the Jira task: https://carnegielearning.atlassian.net/browse/DEVOPS-752

I believe @mfugate1 is working on this. I hope he will help us soon.

[2022-01-19 21:16] amurphy-cl commented on #107
Can we get a status update on this one?

[2022-01-19 21:22] amurphy-cl commented on #190
I'm going to close this for now since the issue appears to be on the CL side with elastic beanstalk deployment, otherwise the email works.

[2022-01-19 21:22] #190 closed

[2022-01-20 13:33] nirmalpatel opened #228 "Email based authentication"
We need to have email-based authentication in our system (in addition to our current Google Sign In). This will allow non-Google organizations to use UpGrade.

@VivekFitkariwala is suggesting that we use AWS Kognito. We can write Terraform scripts for the setup.

@jerith666 wondering what you think about using Kognito

[2022-01-20 14:36] jerith666 commented on #228
I don't know anything about it.  Perhaps @mfugate1 or @asheperak has some thoughts?

[2022-01-20 15:30] SritterCL commented on #225
Here’s my Include/exclude proposal:

There are 3 types of lists with this format:
{
"userid" : "lsdkfl",
"classid": "12121",
"teacherid": "123j",
"schoolid": "123",
"districtid": "abc",
}

One list is the “global exclude” list. Any entities on the global exclude list are exclude from all experiments. The other two lists are the “include” list and the “exclude” list, which exist at the experiment l

[2022-01-25 09:25] RidhamShah opened #234 "Solve Typecheck Errors of test folder"
`Npm typecheck` is excluding errors from the test folder as it is in exclude list of `tsconfig`.

I am solving these errors & removing the test folder from exclude list.

[2022-01-27 14:51] SritterCL commented on #225
One update to the algorithm: Every time we refer to a group, that should be taken to be either a defined group (class, school, district, etc.) but *also* to segments. I think of groups as grouping of users where the group is maintained outside of UpGrade. Segments are groupings where membership is defined within UpGrade. But for the purposes of inclusion/exclusion, they should act the same way.

[2022-01-28 09:19] ppratikcr7 opened #236 "Make integration tests perform more quickly"
1. Run test cases using in memory DB instead of postgres
2. Run all test cases in parallel.
3. Update build script to run test cases also while building.

[2022-02-01 15:39] mfugate1 opened #239 "Fix backend Dockerfile"
It currently fails to build with this error:

[code]

By updating npm to 7.9.0, I can get past that error but then run into this:

[code]

Getting this to work will allow me to start setting up this infrastructure in ECS, as well as enabling tests for the CI script.

[2022-02-02 07:04] YashilDepani opened #240 "Throwing informative error when experiment the enrollment start fails"
Whenever we try to change the state of DDI experiment, we get 500 error for this API network . ```/api/experiments/state```

The issue is because of null users and without id. So this line in the code is throwing the error.
[code]

[2022-02-02 09:34] RidhamShah commented on #240
The main problem of the error is that there are about 72 users with UserID as null in `monitored_experiment_point`. We are working on filtering these users so they don't create any errors.
![image](https://user-images.githubusercontent.com/49234788/152128458-0221182f-0eaa-4b64-b6f0-fefc6bbd68d2.png)

[2022-02-02 10:52] RidhamShah opened #242 "Throwing informative error when experiment enrollment start fails"
Right now if the experiment fails to start enrolling, the server throws a 500 error. We need to throw a more specific error with more information. The error in this issue is related to users with a NULL user ID in the backend that the system was trying to exclude at the start of the experiment. At the start of each experiment, we exclude all users who have visited the experiment points and IDs in

[2022-02-02 14:06] jerith666 commented on #240
From slack, those rows are found with this SQL:

[code]

Is it expected that there will be such rows in that table, or is #241 a work-around for some other as-yet-unknown bug that permitted those rows to be added to the table in the first place?

[2022-02-03 11:23] RidhamShah commented on #240
@jerith666 Ideally this error should not occur as we already have a ['code'](https://github.com/CarnegieLearningWeb/UpGrade/blob/be14ad142ea7d23d5a6d3657307d028a42ab6e9c/backend/packages/Upgrade/src/api/services/ExperimentAssignmentService.ts#L102) snippet to check for the null users.

We think the best solution is NOT TO MERGE this PR as this is a work-around and rather check for the corrupt data

[2022-02-03 11:40] VivekFitkariwala commented on #154
I don't know if we really need this change because `getAllExperimentCondition` should not be directly used by client they should use `getExperimentCondition` and have we tested this change with clientLibs if they are compatible?

[2022-02-03 13:29] nirmalpatel opened #244 "Add UpGrade version info in the JSON experiment design export"
We need to add the version number to the JSON experiment design export. If the user is importing an export of an older/newer version of UpGrade, we can show a warning to the user and tell them that some parts may not function as intended. Maybe there are ways to put explicit checks and show fields that did not match any of the needed fields.

[2022-02-03 13:54] nirmalpatel commented on #242
Duplicate of #240

[2022-02-03 13:54] #242 closed

[2022-02-03 14:36] SritterCL opened #245 "Exclusion and coordinated decision points"
The experiment designer should have the ability to describe how exclusion works for experiments with coordinated decision points. Suppose there is an experiment with 3 coordinated decision points. Some experiments would only want to collect data from students who visited all three decision points (for example, the first could be a pretest, the second an educational intervention and the third a pos

[2022-02-03 14:41] #122 closed

[2022-02-03 14:57] SritterCL commented on #245
(and, I suppose, for experiments that only have one decision point, we could still allow the experimenter to specify that users who have previously reached that point are *not* excluded)

[2022-02-03 15:22] mfugate1 commented on #239
Caused by [65767af7fe057a1c7eaf44b08de4db5f00ee8d6c](https://github.com/CarnegieLearningWeb/UpGrade/commit/65767af7fe057a1c7eaf44b08de4db5f00ee8d6c)

It would be nice to take this opportunity to update the backend to use nodejs 16.

[2022-02-04 03:58] nirmalpatel opened #247 "Create a backend API for experiment level inclusions/exclusions"
We need to start implementing #225 by first creating a backend API that allows experiment-level inclusion/exclusion. Once the backend API is done, we can create the frontend.

[2022-02-04 05:14] RidhamShah opened #248 "Throw 403 Authorisation Error instead of 500"
For Authorisation, the Error is showing `500 Internal Server Error` but it should return the `403 Forbidden response status code indicates that the server understands the request but refuses to authorize it`.

[2022-02-04 07:45] ppratikcr7 opened #249 "Change misspelled 'Schedular' to 'Scheduler' in complete code"

[2022-02-04 09:59] ppratikcr7 commented on #164
We are opening this ticket to add few more logging changes:

1. Banner logs formatted in new logger format
2. Logs during email sent for exporting data
3. Adding creation time of user for logging and debugging null ids issue.

[2022-02-04 10:14] nirmalpatel opened #250 "Terminology change in the code"
Description TBD

[2022-02-04 16:05] nirmalpatel opened #251 "Adding description in the metric metadata"
More details in the Metrics GDoc.

[2022-02-04 16:15] nirmalpatel opened #252 "Support for categorical variables in metrics"
Adding support for categorical variables where we can get count and percentage as the statistics. The count statistic will count the number of each category, and % will normalize the counts and show the % distribution.

[2022-02-04 20:13] amurphy-cl commented on #225
Will let Steve answer but my thought is we'd want (1). I'm not clear on what might be advantageous about (2) and (3) but might be missing something.

[2022-02-04 20:16] jerith666 commented on #240
Hm ... that check was added in 4b9e49c5e358f3f03109cbf62f1854bb82a3b40d, which is dated Mar. 2020.  Could the bad data have been in our DB for such a long time?

[2022-02-04 21:43] zackcl commented on #250
Terminology changes to be made so far:

1. `EXPERIMENT POINT` will be changed to `SITE`, `ID` to `TARGET`, and `Add Experiment Site` to `Add Decision Point`.
<img width="815" alt="Screen Shot 2022-02-04 at 4 32 11 PM" src="https://user-images.githubusercontent.com/90279765/152605944-2955b2e9-ac97-4656-a4f3-5aae5d98d502.png">

2. `ID` for the Grouped Metric will be changed to `Key`.
<img width="941

[2022-02-04 23:00] zackcl commented on #251
The UI for adding the Metrics will look like the following: (It will be part of the experiment wizard)
<img width="500" alt="Experiments - Add Experiment-03-16" src="https://user-images.githubusercontent.com/90279765/152612371-24fc69a9-7165-4053-a85a-49b2d044d357.png">

We decided to use  "Description" instead of "Name" and include the `description` in the metrics metadata so it can be autocomplet

[2022-02-07 09:29] ppratikcr7 opened #254 "Audit logs enum ExperimentDesignExported not found error"
I am investigating and trying to recreate it.

[2022-02-07 09:38] nirmalpatel commented on #225
@amurphy-cl Let us say there are two schools S_a and S_b. In one experiment, we explicitly include S_a. In this case, S_a students will do both `/assign` and `/mark`, and S_b students will only do `/mark`. Now if you include S_b in the experiment later, their students will not get any assignment because they would have marked the decision point already. If you want them included, you would have to

[2022-02-07 14:33] SritterCL commented on #225
I think option (1) is the right one. The /mark call records whether the student reached the decision point and that's independent of whether the student gets an assignment in the experiment.

[2022-02-07 14:47] #239 closed

[2022-02-07 19:33] amurphy-cl commented on #225
@nirmalpatel I think that behavior is fine with respect to the schools S_a and S_b. In general the decisions about include/exclude should be made a priori, before the experiment starts enrolling. And I think you mean that S_b will get the default condition, not that they won't get *any* assignment, right? But I suppose if we stopped enrollment based on some condition (like we were piloting a study

[2022-02-08 14:25] ppratikcr7 commented on #245
@SritterCL It is working as expected. If a user does mark a single decision point then all 3 coordinated decision points get excluded on getAllExperimentConditions.

[2022-02-08 14:40] nirmalpatel commented on #225
@amurphy-cl So I am thinking more about archiving and it looks like archiving and post-experiment rules are connected. If you archive an experiment running at a decision point, what would happen to the post-rule? Maybe archiving the experiment on a point (or points) should revert everyone to default.

And to begin a new experiment with a decision point, you can select the consistency rule "Experim

[2022-02-09 16:59] SritterCL commented on #225
With respect to "archiving," I think we need to be clearer about the difference between "archived" and "enrollment complete" is. I think "enrollment complete" has the semantics that we are not assigning new units to the experiment but we are following the post-experiment rule and group assignment. For example, if a student from a class that has not yet been in the experiment reaches the decision p

[2022-02-10 20:09] danoswaltCL opened #260 "Upgrade Docker base image to latest 12 version"
Current image in Dockerfile (`node:12.7.0-alpine`) is outdated https://hub.docker.com/_/node, and is likely cause of bugs seen in `api/query/analyse`, which fail because of outdated version of node on server (`Promise.allSettled` not available on 12.7, needs 12.9 and up).

Can we create an issue to update the docker image to `12-alpine3.14` or `12-alpine` in dev and get it into QA asap if all look

[2022-02-11 03:43] nirmalpatel commented on #260
Should we just try upgrading to 14+ now instead of later? @ppratikcr7 not sure how much work will be required to move to v14 or v16.

[2022-02-11 05:10] ppratikcr7 commented on #260
@nirmalpatel Not sure, will have to look into it. Let's discuss about this in our internal scrum meet.

[2022-02-11 09:32] nirmalpatel commented on #225
@SritterCL one thing came up while implementing this: the current global exclusion functionality uses `workingGroup` instead of `groups[]` to check for exclusion. We will modify it to use `groups[]` so that the algorithm is looking at all of the groups of the user when checking for include/exclude.

[2022-02-18 19:57] danoswaltCL opened #267 "`api/query/analyze` fails in QA"
`Promise.allSettled` does not work in node 12.7, fix is to upgrade docker image to 12.22.

[2022-02-18 20:00] danoswaltCL commented on #267
will create PR once dev updated with docker-local https://github.com/CarnegieLearningWeb/UpGrade/pull/266 so I can accurately test the update in local

[2022-02-24 13:04] #254 closed

[2022-02-24 13:58] danoswaltCL opened #270 "Dev branch does not work without TYPEORM_HOST"
Linked to this issue, the new env for the dev branch https://upgrade.qa-cli.net/ is not able to connect to postgres when RDS_HOSTNAME is used instead of TYPEORM_HOST. https://carnegielearning.atlassian.net/browse/DEVOPS-975.

Triaging the issue, I found that reverting `typeormLoader.ts` to previous commit worked better to at least start up and reflect RDS_HOSTNAME as expected, so it seems that the

[2022-02-24 14:11] ppratikcr7 commented on #270
@danoswaltCL I am looking into this.

[2022-02-24 19:47] #248 closed

[2022-02-25 14:30] SritterCL commented on #225
One more thing I forgot to ask about (and we should test). The exclusion list can change while the experiment is running (e.g. a school might request to be excluded once they see the experiment running). If we add SchoolA to the exclusion list while the experiment is running, students in that school who have already been assigned a condition will continue to be in the experiment (nothing changes f

[2022-02-25 16:17] kawcl opened #274 "Local Docker setup build context failing on Linux"
`make setup-local` succeeded for me on NixOS!  :)

However:

[code]

_Originally posted by @jerith666 in https://github.com/CarnegieLearningWeb/UpGrade/issues/266#issuecomment-1049239156_

[2022-02-25 18:39] jerith666 opened #275 "Unify /api/mark and /api/failed"
Right now Mathia will always make some callback to UpGrade when it hits the SelectSection experiment point: either `/api/mark` if the (a) no experiment was running or (b) an experiment was running and Mathia was able to carry out the condition that UpGrade asked it to; or `/api/failed` if (c) an experiment was running but Mathia was not able to carry out the condition that UpGrade asked it to.

Th

[2022-02-25 18:47] amurphy-cl commented on #275
Ok, this makes sense to me.

[2022-02-25 19:45] SritterCL commented on #275
Yeah, I like that idea.

[2022-02-28 14:09] nirmalpatel commented on #225
@SritterCL I think this has an analogy with the post-experiment rule. We are trying to decide what to do after a student gets explicitly excluded from the experiment, so in a way, we are 'ending' the experiment for them.

Right now, if a student's group is explicitly excluded from an experiment after they are assigned something, they will stop receiving anything for that experiment and revert to d

[2022-02-28 19:51] danoswaltCL opened #281 "Bring backend coverage up to > 80%"

[2022-02-28 19:52] danoswaltCL opened #282 "Bring frontend coverage up to > 80%"

[2022-02-28 20:44] jreddig commented on #281
Folders with low coverage

- [x] api/controllers
in branch increase-code-coverage
- [x] api/errors
in branch increase-code-coverage
- [ ] api/middlewares
currently working on
- [ ] api/repositories
- [ ] api/repositories/utils
- [ ] api/services
- [ ] auth
- [ ] database/migrations
- [ ] lib/env
- [ ] lib/logger
- [x] add text files to coverage exclude list
in branch increase-code-coverage

[2022-03-01 20:32] #270 closed

[2022-03-01 20:34] danoswaltCL commented on #260
closing this as 12.22.10 is being used now, separate issue should be created to move dev branch to node 16 image

[2022-03-01 20:34] #260 closed

[2022-03-01 20:34] #267 closed

[2022-03-01 21:22] SritterCL commented on #225
I'd like to have global exclusion and experiment exclusion work the same way. I don't want to overcomplicate things.

I was suggesting that students continue with the assignment if they are excluded after the experiment begins, but I think I like returning "default" for students who are excluded, even after the experiment begins. This won't work for MATHia workspace assignments (because MATHia onl

[2022-03-02 14:44] #163 closed

[2022-03-02 14:57] #249 closed

[2022-03-02 15:24] #234 closed

[2022-03-02 15:40] #154 closed

[2022-03-02 15:49] #220 closed

[2022-03-02 17:13] danoswaltCL opened #293 "Angular update to supported version"
Angular version 8 is out of date, 13 is probably what we should aim for, or whatever CL wants everyone to be on.

Angular major versions come out twice per year, we should have at least a yearly standing order to keep current with latest LTS. Upgrading from major versions isn't terrible but it's a chore, as we will need to do full upgrade to each version and clean up any breaking changes before mo

[2022-03-02 17:16] danoswaltCL opened #294 "Update docker image to node 16"
Creating new issue to keep separate from a bugfix where this was discussed and solved by updating to 12.22.10 and @ppratikcr7 already did some work to analyze the impact. Mainly: `npm install` on our app with node 16 gives peer dependency errors / warnings.

[2022-03-02 17:19] ppratikcr7 commented on #294
Yeah, I am working on this further.

[2022-03-03 06:11] #164 closed

[2022-03-03 06:29] ppratikcr7 opened #295 "Local Docker Setup commands not working after new changes to it"
We tried setting up local docker setup at our end in multiple systems. We are facing the below issues:

1. The commands `make setup-local` and even new command stated by @danoswaltCL which is `make setup` doesn't seem to work to install the npm modules. When I checked through the Makefile in dev branch, there is no command for `setup`, instead we still have `setup-local` which we had before nix ch

[2022-03-03 09:41] ppratikcr7 commented on #152
@danoswaltCL @jreddig Can anyone of you check the scheduling feature for an experiment on dev environment, if it's working fine or not.

[2022-03-03 12:56] danoswaltCL opened #297 "Convert jasmine/karma frontend unit tests -> jest"

[2022-03-03 13:42] amurphy-cl commented on #245
If this is resolved, can we close the issue?

[2022-03-03 14:07] ppratikcr7 commented on #245
As per the ticket description the current behaviour is verified but it also states that we should have a parameter to change this behaviour as an enhancement change.

[2022-03-03 14:41] kawcl commented on #295
hey @ppratikcr7,

Issue 1
- The Makefile command should be `make setup-local` in the dev branch.  When that command is used the Makefile will run `./docker-setup.sh -l`.  This script uses [NixOS](https://nixos.org/) so that the node & npm version is standardized for everyone. The setup for the NixOS script is in `docker.nix`, right now it will make sure everyone installs the node_packages using no

[2022-03-03 14:53] jerith666 commented on #295
Interesting idea.  I'd rather require only nix (and use nix to get docker), but that might not be possible since docker requires a daemon to be running.

[2022-03-03 14:59] ppratikcr7 commented on #295
@kawcl Thanks for the clarifications, let us try as per your comments. We will get back in case we still face any issue.

[2022-03-03 15:21] danoswaltCL commented on #295
on point 3, it is probably issue with it finding docker in PATH, `which docker` can show where it's installed, could `echo $PATH` to see if that PATH seems reachable.

Other thing to try would be to open up the docker desktop app, all same things are going to be found there, that's where I tend to look at the logs anyway, and some things I see googling t`docker command not found` seem to suggest t

[2022-03-03 17:02] kawcl commented on #295
Yea I'm not sure which direction would be best..
Have nix maintain the dependencies and run the docker containers or have docker run and manage nix which manages the dependencies.  There is a [docker image](https://hub.docker.com/r/nixos/nix) for nix but a quick search for how to use it properly hasn't proven that fruitful. I have, however, found a source for [running docker containers with nix](h

[2022-03-04 08:31] ppratikcr7 opened #298 "typecheck fails for new test cases"
I guess husky is not installed in the local system due to which we Playpower team see a lot of typecheck errors at our end during any further commit. (Currently we by-pass it using a `--no-verify` flag at the end of `git commit` command). It's better CL team also use husky so that we don't push any errors in the commit. For this do as below:

At the root folder do `npm install` as we have husky at

[2022-03-04 08:34] ppratikcr7 commented on #295
@kawcl Thanks, installing Nix did work for me, I am able to run `make setup-local` now.

Let me know if this issue should be closed if we don't want anything else to be discussed here on this ticket, else it's fine if we continue to discuss further on Nix.

[2022-03-04 08:34] ppratikcr7 commented on #295
@danoswaltCL I will check with your resolution and let you know. Thanks :)

[2022-03-04 15:50] #298 closed

[2022-03-07 06:47] ppratikcr7 commented on #295
@kawcl We also observed a weird behaviour of docker script where it creates the containers with a different name. For e.g.: Instead of `upgrade-postgres-1` the container name is `upgrade_postgres_1`. So, we have to change the environment variable in the local docker env file: `TYPEORM_HOST=upgrade-postgres-1`. Any idea about this inconsistency?

[2022-03-07 10:22] ppratikcr7 opened #301 "Backend using Alias IDs instead of Root User IDs"
During regression testing we found a bug in the user doc in which instead of pointing the root user id, we are taking the alias user id. This change was introduced in logger format [commit](https://github.com/CarnegieLearningWeb/UpGrade/commit/12b23ded25d9ac8166765e0d40bd9290eec866f9) where we tried to have a single level fetching of userDoc and pass it though the logger instance.

This was not ca

[2022-03-07 14:24] danoswaltCL commented on #295
@ppratikcr7

Yes we noticed before and we should document it, this is likely the issue where in docker setting `Use Docker Compose V2` needs to be toggled on:

<img width="578" alt="image" src="https://user-images.githubusercontent.com/97542869/157051819-b932deac-0f61-4acb-b0b1-5c3604771195.png">

[2022-03-07 14:42] kawcl commented on #295
@ppratikcr7 Dan would be correct on this, depending on which version of compose you are using it append names differently with "_" or "-"

[2022-03-07 15:51] zackcl commented on #251
Here's an updated design:

* Removed the number column

<img width="500" alt="Experiments - Add Experiment-03-16" src="https://user-images.githubusercontent.com/90279765/157068322-feb8d0d8-18c0-4ca5-9411-312a12600632.png">

[2022-03-07 18:28] danoswaltCL commented on #301
Can we add a catch block to this function if it will still be used? There's a question of lambda calls timing out when `api/log` is being called and no logging to show any errors from Upgrade. I am wondering if as a symptom of the id issue is that this call is happening but the Promise either never resolves and breaks or the rejection is swallowed without any logging.

@jreddig @msandbothe do you

[2022-03-08 09:53] #247 closed

[2022-03-08 14:23] #297 closed

[2022-03-08 19:55] ppratikcr7 commented on #301
@danoswaltCL I have added error handling and more error logs and also logs inside api/log call to give you more idea on this issue.

[2022-03-09 09:58] ppratikcr7 commented on #295
Okay, thanks. Yeah, we should document all this thing in our Upgrade documentation.

[2022-03-09 12:03] RidhamShah opened #303 "Make global exclude APIs to take array"
Need to make global exclude for users and groups  API to take an array instead of a single value.
Also making necessary changes in swagger.

[2022-03-09 13:34] #301 closed

[2022-03-09 17:48] #23 closed

[2022-03-10 09:16] ppratikcr7 commented on #281
@jreddig Are you working on further checklist for more test cases? Or should anyone from Playpower should be completing the rest checklists?

[2022-03-10 13:15] jreddig commented on #281
@ppratikcr7 I haven't had the time to work on additional test cases since 3/1, so feel free to claim a group and write some unit tests. Hopefully will get back to this when production issues are resolved

[2022-03-10 14:20] ppratikcr7 commented on #281
Okay. Will let you know.

[2022-03-10 21:55] danoswaltCL opened #304 "AWS latency / instance failures, always 'Severe' or 'Degraded' state with any decent volume"
Since deploying 10.0.88 on March 2 our EC2 instances on AWS have not been able to handle prod-level volume. Latest code is 10.0.94 with recent bugfixes in there and the issues remain.

With low volume, we are not seeing issues, but as the volume goes up:

1. Latency and errors track up
2. Healthy responses track down
3. Eventually, we appear to run out of disk space.

This happens despite scaling

[2022-03-10 22:11] jreddig commented on #304
Elaborating on the query error, it's flooding splunk. The production splunk logs are full of pages of `[Truncated...]`. I'm assuming that they are shortened versions of a dump of what looks like aliases `"simplify_exponents_2_power_SelectSection_mx-4503e46b-4b3b-48f5-aa5b-c8cfddc64d02-696f34b1-9087-431f-aa8e-25d919fec238","simplify_exponents_2_power_SelectSection_mx-c38b5d8d-1016-483b-ae04-f70ad0d

[2022-03-11 12:51] danoswaltCL commented on #304
Example of ^

[index="cl_upgrade" QueryFailedError](https://splunk.carnegielearning.com/en-US/app/search/search?q=search%20index%3D%22cl_upgrade%22%20QueryFailedError&display.page.search.mode=smart&dispatch.sample_ratio=1&earliest=-30d%40d&latest=now&display.events.timelineEarliestTime=&display.events.timelineLatestTime=&sid=1646959812.136477)

[2022-03-11 22:01] danoswaltCL commented on #304
Whatever is producing this query is consistently producing logs that are

`query: SELECT "MonitoredExperimentPoint"."createdAt" AS "MonitoredExperimentPoint_createdAt", "MonitoredExperimentPoint"."updatedAt" AS "MonitoredExperimentPoint_updatedAt", "MonitoredExperimentPoint"."versionNumber" AS "MonitoredExperimentPoint_versionNumber", "MonitoredExperimentPoint"."id" AS "MonitoredExperimentPoint_id

[2022-03-12 13:52] ppratikcr7 commented on #281
Okay, fine. I will take that up.

[2022-03-14 00:10] danoswaltCL commented on #304
If one pulls a recent prod database snapshot where this state already exists, one can run local docker and observe the following when hitting `api/mark` with an initialized user.

The issues noted look like they are occurring in `checkEnrollmentEndingCriteriaForCount()` of `ExperimentAssignmentService`.

At a certain point when enrolling students for a while, this query begins to get overwhelmingl

[2022-03-15 18:08] danoswaltCL opened #307 "Update Version display in UI"
Dev branch will always show 1.0.0, so for the developer it will be good to know the hash of the last commit also from the 'version' api and display here also.

Something like so:

![image](https://user-images.githubusercontent.com/97542869/158443330-12ff0993-291f-440b-8e05-4cd46f321466.png)

[2022-03-16 17:20] amurphy-cl opened #308 "Tooltip under Conditions in dashboard truncates"
The tooltip under Conditions in the experiment dashboard/detail page truncates the name of the condition. It should show the full condition name.

![image](https://user-images.githubusercontent.com/65311369/158649717-6f7a0def-3792-437d-a6aa-106fdea07939.png)

[2022-03-17 13:56] danoswaltCL opened #309 "Send 404 instead of 500 for 'user not found' error types"
Send 404 instead of 500 for 'experiment user not found' error situations in ExperimentClientController (experiment user id not in the table), as it's not likely an indication of a server issue.

~~If this affects EC2 health status checks in a meaningful way, this could be higher priority fix, as these common errors shouldn't cause problems in environment.~~

EDIT: It appears that a 4xx will affect

[2022-03-17 16:57] danoswaltCL commented on #282
- [ ] Working through adding tests to `core` services directory.

[2022-03-17 19:55] amurphy-cl opened #310 "Condition name cut off when setting preview user"
When setting a preview user, the condition names are cut off so that you can't tell which condition you're assigning

![image](https://user-images.githubusercontent.com/65311369/158884925-f8ab12ae-0393-4140-846a-cf8896f689eb.png)

[2022-03-18 17:44] danoswaltCL commented on #310
this seems like a quick thing i can look into, along with the other truncate issue

[2022-03-18 17:44] danoswaltCL commented on #308
i can take a look at this

[2022-03-18 18:39] jreddig opened #312 "Metric data is slightly off in the UI"
The metric data in the UI for each experiment does not match the computation from Mathia database or the computed data from the exported csv. I confirmed the enrollment numbers between Mathia and Upgrade and they both have the same students enrolled in each experiment. The student level data also matches between the exported csv and Mathia DB, but the aggregated values displayed on the UI are slig

[2022-03-21 15:06] amurphy-cl opened #314 "Managing import of duplicate experiments"
Right now if you try to import two experiments that are identical, the UI doesn't handle this well -- just spins and does nothing. Instead we should either return an error upon import, e.g.

"ERROR: this experiment design has already been imported"

or prepend COPY OF... in the experiment name of the duplicate.

[2022-03-21 17:48] ppratikcr7 commented on #314
Okay. Do we require duplicate experiments? I would say let's go with first option, to show the error.

[2022-03-21 21:05] zackcl opened #315 "Select all decision points(Sites) by default for Enrollments Over Time"
When an experiment has multiple decision points (sites), the Enrollments Over Time shows only one decision point by default which can confuse some users because the number of participants on the detail page can be different from the main page.

<img width="500" alt="Screen Shot 2022-03-21 at 4 46 58 PM" src="https://user-images.githubusercontent.com/90279765/159361099-09fe3ad3-a792-4b0d-941d-f1eda

[2022-03-22 12:36] ppratikcr7 commented on #312
@jreddig We tried to recreate the above issue with various cases but couldn't see this. Can you let us know if there are any enrolled user for this experiment in the db, using the below query:

`SELECT * FROM individual_assignment WHERE "experimentId" = '<your_Experiment_id_for_which_you_see_excess_metric_data>'`

[2022-03-23 14:22] amurphy-cl opened #317 "Workspace ID truncated when adding metrics"
Workspace ID is being truncated when adding metrics. Makes it hard to verify the workspace name. We should display the full name and also have a tooltip with the full name so users can verify the workspace ID after adding it.

![image](https://user-images.githubusercontent.com/65311369/159721180-04651023-7f13-4fa0-912d-b5088f4cce80.png)

[2022-03-23 19:47] amurphy-cl commented on #184
@VivekFitkariwala is this done? Where are we on this issue?

[2022-03-23 19:48] amurphy-cl commented on #152
@danoswaltCL @jreddig were either of you able to test this in dev?

[2022-03-23 20:03] danoswaltCL commented on #152
no i had not, i missed this comment. I can take a look

[2022-03-23 20:12] danoswaltCL commented on #152
@amurphy-cl @ppratikcr7 https://upgrade.qa-cli.net/home schedule test experiment started on time when set to 4:10, status changed to enrolling. This appears to be working as expected.

[2022-03-24 02:33] VivekFitkariwala commented on #184
We were not able to recreate this issue.
And the above change was related to fix in search.

[2022-03-24 18:37] ppratikcr7 commented on #152
@danoswaltCL That's great. Then we can close this issue now.

[2022-03-24 19:49] #317 closed, assigned to danoswaltCL

[2022-03-29 10:26] ppratikcr7 commented on #293
I will take a look at this while upgrading the node v16 and npm v8.

[2022-03-29 10:31] ppratikcr7 commented on #295
@kawcl @danoswaltCL Should we close this issue?

[2022-03-29 14:43] #295 closed

[2022-03-30 06:18] VivekFitkariwala commented on #275
I agree on removing `/api/failed`.
But why we should get information which we already have or which is not Upgrade specific via `/api/mark`?

Upgrade already knows if an experiment is running or not or if we even have created an experiment for that site.
And is condition applied successfully or not is not Upgrade specific data. It's client specific data and it should be logged on client applicatio

[2022-03-30 20:00] amurphy-cl opened #333 "Manage Roles: Can't add First Name/Last Name"
In role management, admins can add a new user by email address and assign a role, but can't add or edit the First Name or Last Name of the user. We should be able to edit this.

<img width="1581" alt="image" src="https://user-images.githubusercontent.com/65311369/160920745-87fc15b9-f18e-4167-90d1-a9e63b97759f.png">

[2022-03-30 21:24] jerith666 commented on #275
In condition 2, the user should be considered successfully enrolled in the experiment: it makes sense for UpGrade to include that user in the metrics it displays for the experiment, etc.

In condition 3, the user is in a weird state.  UpGrade _wants_ the user to experience a particular condition, but in fact when the user reached that point in the code, for some reason we could not give that condi

[2022-03-30 23:25] SritterCL commented on #275
Yeah, I agree with Matt's comment. In condition 3, the student received the default app behavior, even if the student was supposed to receive a different condition. Since UpGrade is responsible for recording the condition that each student received, I think this should be in the information that UpGrade stores (and part of the export of condition assignments). Although the app could (and should) s

[2022-03-31 10:37] RidhamShah opened #335 "Creating Segments"
Creating Segments that contain userIds, GroupIds, and other Segments.
Needed a UI with all functionalities and working backend for the same. (UI for Include/exclude lists (participants stepper) (O))

[2022-03-31 18:20] #315 closed

[2022-04-06 18:16] zackcl opened #340 "Cannot update the conditions after creating an experiment"
I tried updating an experiment by clicking the "EDIT" button and adding or removing a condition. However, the experiment never gets updated with the changed conditions. And when I delete the experiment after this, UpGrade shows a bunch of errors related to the `api/experiments/single/id` API call.

[2022-04-06 18:20] zackcl opened #341 ""atleast" should be changed to "at least" in the en.json file"
This is a minor issue, but there are 3 error texts starting with "Please have atleast ..." in the [en.json](https://github.com/CarnegieLearningWeb/UpGrade/blob/dev/frontend/projects/upgrade/src/assets/i18n/en.json) file. I think it should be "at least" instead of "atleast".

[2022-04-06 19:12] zackcl commented on #340
It happened when running UpGrade locally on macOS. I just tried it in the QA UpGrade and had the same issue. The error did not show up in the UI this time (popup error messages appeared when running locally) but still exists in the console. You can try creating an experiment and updating the conditions if you'd like to confirm it.

[2022-04-07 06:13] VivekFitkariwala opened #342 "Simplify backend by storing enrollments instead of assignments."
### Problem:
At present we are storing the assignments for the experiment user and to get the enrollments we need to join the table of assignments and monitored experiment point. From the application perspective if we store enrollments instead of assignments we can simplify many queries. Another problem which we are facing is after the enrollment complete state if the user reaches the experiment s

[2022-04-07 12:46] danoswaltCL opened #343 "Enrollments bar graph intermittently incorrect"
While looking at Xprize enrollments, this was noticed, maybe was missed at larger scale. The bar graph does not map the right labels to values. This is not always incorrect; it seems be jumbled up sometimes, while correct other times. Perhaps the order in which they are being delivered is not guaranteed:

![image](https://user-images.githubusercontent.com/97542869/162201542-320f87ba-7bf1-48c4-9c7a

[2022-04-07 12:49] danoswaltCL commented on #342
This feels like a pretty major tech debt initiative, but I would hope to see it prioritized above new features, it would make a huge difference.

[2022-04-07 13:01] danoswaltCL opened #345 "Enrollment Code not being marked correctly in some cases"
This may be a result of the new include / exclude functionality, but not sure:

1. It is often coming as `null`, I'm not sure of how to reproduce but it's happening quite a bit.

2. While working with `excludeAll` experiment filtermode and explicit group include, `/assign` calls for individuals who are in excluded groups are working correctly, but the `/mark` call is setting `enrollmentCode` in mo

[2022-04-07 16:52] amurphy-cl opened #347 "Importing experiment design relies on the same experimentID"
When you import an experiment design, the imported experiment uses the same `experimentId` as the original. This can create conflicts for QA testing as well as if we import multiple times and make small modifications to each imported design. The import design function should create a new `experimentId` at each import.

[2022-04-08 14:52] ppratikcr7 commented on #340
I am able to EDIT and update/add/delete conditions successfully on running dev branch locally on MacOS. This doesn't seems to be an issue. Can someone else verify as well if they are facing this issue?

[2022-04-08 14:55] zackcl commented on #340
@ppratikcr7 Did you check the conditions are updated on the experiment details page?

[2022-04-08 15:02] ppratikcr7 commented on #340
Yes, they are getting updated, expect the Section `Enrollments by Conditions`, that needs a refresh or route change for once. I will look into this in next PR.

[2022-04-08 16:51] zackcl commented on #340
I found out I needed to click the "Save" button in each step to update the change. I was only clicking the "Update" button in the last step. I think we can discuss this in the design meeting. I will close this issue since this is not a bug.

[2022-04-08 16:51] #340 closed

[2022-04-11 17:01] ppratikcr7 commented on #312
@jreddig Should we close this issue?

[2022-04-11 19:41] jreddig commented on #312
Yes, I believe this is good to close!

[2022-04-11 19:41] #312 closed

[2022-04-13 08:17] ppratikcr7 commented on #347
@amurphy-cl Okay, so when we import multiple times we are checking for duplicate experiment in terms of experiment id, if a same experimentId exists then we can create a new experiment with new experimentId. But for this to work the imported design should also have unique conditionId's and partition Id's. If this is fine then I would make changes to create the experiment with new expId when duplic

[2022-04-13 08:17] ppratikcr7 commented on #347
<img width="925" alt="Screenshot 2022-04-13 at 1 45 06 PM" src="https://user-images.githubusercontent.com/33730817/163131988-954ec742-a486-4d1b-bdc7-6bff16bcc782.png">

[2022-04-13 11:31] ppratikcr7 commented on #343
I tried several times, but I am unable to reproduce this issue in dev branch locally. Please check the below screenshots. Can we get this db clone to check once.

![Screenshot 2022-04-13 at 4 55 17 PM](https://user-images.githubusercontent.com/33730817/163170906-47092369-060c-48dd-aad8-8362c3481c0d.png)
![Screenshot 2022-04-13 at 4 58 37 PM](https://user-images.githubusercontent.com/33730817/16317

[2022-04-19 08:58] ppratikcr7 commented on #343
@danoswaltCL Can you please share the db clone where I can recreate this.

[2022-04-19 20:13] danoswaltCL commented on #343
I don't think I'd be able to reproduce exactly what was happening in those pics now, as that experiment was removed after testing. I also have had an unresolved ticket opened for permissions to clone the aws db data, something happened and I can't at the moment (jenn too).

I haven't noticed this issue while doing similar testing recently; @amurphy-cl should we hold off or even close this issue at

[2022-04-20 05:16] ppratikcr7 commented on #343
Ohh okay. No issues, do let me know if you encounter it again.

[2022-04-21 10:21] ppratikcr7 commented on #343
@danoswaltCL Let's close this issue for now and we can reopen once you encounter it again.

[2022-04-25 16:39] amurphy-cl opened #353 "Allow experiment detail page to open in new window/tab without re-auth"
As stated above. Would be nice to open up experiment details in new tabs without authing every time.

[2022-05-05 09:22] ppratikcr7 opened #357 "Frontend Enhancements for summer release"
We are covering the below changes in this ticket:

Equally weighted checkbox (O)
Remove number column from tables (O)
Place decision points above conditions (O)
Required checkbox UI for decision points (O)
Show weights with % rounded to 1 decimal place (e.g. 33.3%) (O)
Export experiment popup (one export button instead of two) (O)
Experiment stepper "update" (instead of "save") button when editing

[2022-05-05 09:23] ppratikcr7 commented on #357
**Done:**
Equally weighted checkbox (O)
Remove number column from tables (O)
Place decision points above conditions (O)
Required checkbox UI for decision points (O)
Show weights with % rounded to 1 decimal place (e.g. 33.3%) (O)
Export experiment popup (one export button instead of two) (O)
Experiment stepper "update" (instead of "save") button when editing (O)

**In Progress:**
Within-stepper met

[2022-05-10 08:16] VivekFitkariwala commented on #27
During the implementation of #342 we have added enrollment and exclusion tables and the above code will be split into two different type `ENROLLMENT_CODE` and `EXCLUSION_CODE`
[code]

`ASSIGN` and `ENROLL` codes are removed as now we are not storing the assignments but only the enrollments. Let us know if any changes are required?

[2022-05-10 18:08] amurphy-cl commented on #357
Are you guys using the kanban board for this ticket? Will you be creating a single PR for all of these?

[2022-05-10 18:30] #304 closed

[2022-05-10 18:31] amurphy-cl commented on #275
@jerith666 can we coordinate with you to make some headway on this?

[2022-05-10 18:33] amurphy-cl commented on #240
@RidhamShah if this is fixed (I think it might be), can we close this issue?

[2022-05-10 18:34] amurphy-cl commented on #225
@nirmalpatel is this complete? If we need to have further discussion let's close the issue and move discussion elsewhere.

[2022-05-10 18:34] amurphy-cl commented on #184
@VivekFitkariwala can we close this?

[2022-05-10 18:45] amurphy-cl commented on #27
@VivekFitkariwala this looks good, I'll close this now.

[2022-05-10 18:47] #28 closed

[2022-05-10 18:48] amurphy-cl commented on #29
This is done.

[2022-05-10 18:48] #29 closed

[2022-05-10 18:50] amurphy-cl commented on #10
Let's come to some decisions on this asap

[2022-05-10 18:55] amurphy-cl commented on #67
@nirmalpatel I think this is addressed in our enrollment codes enums? If so let's close this.

[2022-05-10 18:56] amurphy-cl commented on #70
@nirmalpatel is this still in progress?

[2022-05-10 18:57] amurphy-cl commented on #76
@nirmalpatel is your team still looking for these tools? We think AWS can provide most/all of what is needed.

[2022-05-10 18:59] amurphy-cl commented on #88
Closing this since mfugate solved this.

[2022-05-10 18:59] #88 closed

[2022-05-10 19:32] jerith666 commented on #275
If you want to go live with this change before August-ish, we'll need to make sure that both m6.x and m7.x are updated with a new version of the client library that supports it.  That'll be somewhat annoying.

But even independent of that, we'll need to coordinate when the new version of the upgrade service deploys relative to when the client app (mathia) deploys.  The most fool-proof thing would

[2022-05-11 01:41] nirmalpatel commented on #225
Yes, I think the algorithm implementation is complete. We can close this.

On Wed, May 11, 2022 at 12:04 AM amurphy-cl ***@***.***>
wrote:

--
Nirmal Patel
nirmalpatel.net

[2022-05-11 01:49] nirmalpatel commented on #10
I like the term "Experiment Point" as it explicitly has the word Experiment. The word "Decision" is more abstract, and it may or may not refer to an experiment. So I've been leaning more towards the term Experiment Point.

I think for the point/ID, having the terms "site" and "target" make sense to be because "site" is the "site in the code" where the experiment is happening (this, for us, is usua

[2022-05-11 01:51] nirmalpatel commented on #67
Yes, this will be addressed in the enrollment code enums, and we will know the exact reason for exclusion. So using those codes, we can display the appropriate exclusion count.

[2022-05-11 01:51] #67 closed

[2022-05-11 01:54] nirmalpatel commented on #76
@amurphy-cl we are not looking into this right now. If we are getting this data from AWS by default, we can close this issue for now.

[2022-05-11 06:31] ppratikcr7 commented on #357
No, we haven't separated this ticket, so not tracking in kanban. This is all under a single PR.

[2022-05-11 07:28] VivekFitkariwala commented on #27
Reopening because the code is in PR.

[2022-05-11 09:16] VivekFitkariwala commented on #184
As we are not able to recreate the issue we should close this.

[2022-05-11 09:16] #184 closed

[2022-05-11 09:20] VivekFitkariwala commented on #240
@amurphy-cl we are unable to recreate this issue as the code has proper checks to filter these users. So let's close this issue and we can reopen if we face it again.

[2022-05-11 09:20] #240 closed

[2022-05-11 13:45] #225 closed

[2022-05-11 13:47] amurphy-cl commented on #10
@SritterCL let's make a final decision on this. Adding it to this week's agenda.

[2022-05-11 13:48] amurphy-cl commented on #70
Ok - @kawcl do you have a sense of the effort required for this?

[2022-05-11 13:49] #76 closed

[2022-05-11 14:51] amurphy-cl opened #359 "Batch import/export of experiment files"
It would be helpful to enable batch import/export of experiment json files to facilitate faster setup. Low priority though.

[2022-05-11 15:11] amurphy-cl opened #360 "Patch code for XPRIZE and Demonstration phase"
We need to decide what to do with the current xprize patch code and how it should be maintained if we're advanced to the demonstration phase (probably starting in Sept 22). Do we need to create a more permanent solution to the issue of experiment point/id conflicts?

[2022-05-11 15:36] amurphy-cl commented on #26
@ppratikcr7 not sure where we are with this but maybe instead of a line to comment out, we can create an environment variable to turn on/off. If this is still a work-in-progress can you coordinate w @danoswaltCL ?

[2022-05-11 15:39] amurphy-cl commented on #94
We will finalize the context metadata design for summer 2022.

[2022-05-11 15:48] amurphy-cl commented on #343
Unclear if this is still happening, testing a few experiments today did not recreate the bug. Closing for now.

[2022-05-11 15:50] amurphy-cl commented on #345
@VivekFitkariwala will this be addressed by the enrollment table? If so can you please close?

[2022-05-11 15:51] kawcl commented on #70
@amurphy-cl I am not very familiar with this code so it's hard to say but I think the first thing is that we need to define what we consider `nonretryable errors` and then out of all the errors the application throws determine which meet that definition and then resolve this issue for only those

[2022-05-11 15:52] amurphy-cl commented on #335
@zackcl has UI for this.

[2022-05-11 15:58] #274 closed

[2022-05-11 15:59] amurphy-cl commented on #251
Closing this since @zackcl did extensive UI redesign that we reviewed elsewhere

[2022-05-11 15:59] #251 closed

[2022-05-11 17:14] amurphy-cl commented on #314
Good question. Let's go with the first option.

[2022-05-11 18:05] VivekFitkariwala commented on #345
Yes this will be addressed by #27

[2022-05-11 18:05] #345 closed

[2022-05-11 18:23] VivekFitkariwala commented on #144
Yup. We can close this. One thing which is remaining is running test cases we can track it separately.

[2022-05-12 07:52] nirmalpatel commented on #95
@amurphy-cl no progress yet since there were other priorities.

[2022-05-12 11:04] VivekFitkariwala commented on #275
Force exclude might affect the consistency behaviour
1. Group Experiment with Group Consistency
Although the user is excluded Upgrade will serve the condition assigned to the group for getAllExperimentCondition
2. Experiment Consistency (For both Individual and Group Experiment)
We are never excluding any user for this consistency rule. Should we have an exception here?

[2022-05-12 13:06] zackcl commented on #151
@amurphy-cl Sure, I will try to fix this.

[2022-05-12 13:27] danoswaltCL commented on #153
Validation should occur when scheduling, as well as when the experiment is set to begin.

It should set the status to inactive and log what happened (context metadata validation failed).

[2022-05-12 13:38] SritterCL commented on #94
This bug should focus on the behavior of the metrics monitor. The monitor should reflect the students who were actually marked in a particular condition. If the experiment on the UpGrade side defines conditions A and B and data comes in for a student marked in condition C, that should *not* be reflected in the experiment metrics. Similarly, if there is some failure such that a student is assigned

[2022-05-13 14:38] danoswaltCL commented on #353
I can't reproduce this, new tabs open for me without having to auth. It may be browser settings?

[2022-05-13 19:08] danoswaltCL commented on #213
This could be accomplished by refetching/polling for new data on every x seconds while the component page is open. Should I pick this up @amurphy-cl ?

[2022-05-13 19:34] amurphy-cl commented on #213
That'd be great!

[2022-05-13 21:36] danoswaltCL opened #363 "autocomplete on experiment design doesn't fill on initial click"
As a user creating new experiment, when in the second step (experiment design):

Expected: Context metadata values should populate the dropdown when user clicks or tabs into the 'condtion', 'experiment id', or 'ID' labeled columnts.

Actual: The dropdown of valid options doesn't appear initially, unless the user types into field and then erases.

[2022-05-13 21:49] danoswaltCL opened #365 "cancel pending http requests on navigate"
Pending API calls probably should get cancelled when the user navigates away from the page, as there's no reason to continue with them.

I opened a PR, but let me know if there are reasons why this may not be desirable.

[2022-05-15 15:22] ppratikcr7 commented on #353
I can reproduce this. May be then this is a browser setting. But, we should be able to set this setting from Upgrade and not let them auth again and again.

[2022-05-16 08:21] ppratikcr7 commented on #314
Handled this by verifying existing partitions in existing [PR](https://github.com/CarnegieLearningWeb/UpGrade/pull/349)
<img width="780" alt="Screenshot 2022-05-16 at 1 26 17 PM" src="https://user-images.githubusercontent.com/33730817/168550130-92e171ba-7006-4081-9572-c15ce46e74f4.png">

[2022-05-16 08:25] ppratikcr7 commented on #347
Okay, so everytime we import an experiment, all the UUID's should be changed, right?

[2022-05-16 12:31] danoswaltCL commented on #213
Restating it in 'user story' language helps me out, I'm fully brainwashed in this part of agile. is this what we are saying:

As a user on the details page,
I want to see `/enrollment` and `/details` data updated automatically,
So that I don't have to click refresh.

As a user on the home page,
I want to see `/enrollment` data updated automatically,
So that I don't have to click refresh.

@amurphy

[2022-05-16 13:47] amurphy-cl commented on #347
Yes, that's right.

[2022-05-16 15:47] jreddig commented on #333
Verified this change in dev branch. Admins can edit the first and last name of a user

[2022-05-16 15:47] #333 closed

[2022-05-16 16:45] jreddig commented on #365
Verified requests cancelled when navigating away from page in dev environment

[2022-05-16 18:39] #347 closed

[2022-05-16 18:48] #363 closed

[2022-05-16 18:49] jerith666 commented on #213
I'm pretty sure we have some internal code in `cli-services` that shares requests to avoid re-sending them.  @kschaefe can probably point you to it.

[2022-05-16 18:55] kschaefe commented on #213
Yes, the `@UseInFlightCache`[1] decorator in TypeScript will prevent creating a new call while the current one is active.  It is currently limited to calls that take no parameters, but we really need it to work will all idempotent calls.  If you have a need for us to hash and cache calls with params, just let us know.

[1] https://github.dev.carnegielearning.com/CarnegieLearning/cli-services/blob/

[2022-05-16 19:48] zackcl commented on #151
I'm able to confirm that this issue has been resolved with https://github.com/CarnegieLearningWeb/UpGrade/commit/9f4778ddc249845a914917e51556762945d918c7

[2022-05-16 19:48] #151 closed

[2022-05-16 21:40] danoswaltCL commented on #213
Thanks for sharing that, I think the use-case for these particular calls is just to give up and cancel the previous request instead of sharing the response from the previous, as typically we're wanting the latest data. Swapping `switchMap` in place of `mergeMap` seems to be working for me on this where needed.

@kschaefe can you show some examples of where some of these custom typescript decorator

[2022-05-16 22:17] kschaefe commented on #213
We currently have only one use.  We haven't gone through to attach this in all of the places we could.

https://github.dev.carnegielearning.com/CarnegieLearning/cli-services/blob/52a4f9f685e18c76d189e7bdd25ce6a00742310e/libs/cli-services/src/lib/rest/FIDO-services/authentication.service.ts#L28

[2022-05-17 06:02] #215 closed

[2022-05-17 10:21] ppratikcr7 commented on #10
We can finalize the terminology for this [ticket](https://github.com/CarnegieLearningWeb/UpGrade/issues/250) here itself, so closing the mentioned ticket as its kind of duplicate.

[2022-05-17 10:22] ppratikcr7 commented on #250
Handling this change in the above mentioned [ticket](https://github.com/CarnegieLearningWeb/UpGrade/issues/10) and closing this ticket.

[2022-05-17 10:22] #250 closed

[2022-05-17 13:56] YashilDepani commented on #309
Not much progress on this task, as I am currently working on '**segments**' feature.

[2022-05-17 19:44] #244 closed

[2022-05-17 19:44] #314 closed

[2022-05-17 19:44] #341 closed

[2022-05-18 14:38] #309 closed

[2022-05-18 16:52] ppratikcr7 commented on #353
You are right, I am able to retain my auth in chrome and in safari I had to uncheck the setting you mentioned. Is there a way we can check that setting for safari browser and disable it? Is that allowed, as its a privacy settings that we shouldn't change without user's consent.

[2022-05-18 17:53] danoswaltCL commented on #353
I think if we're feeling pretty sure that the only way we can reliably reproduce is to loosen personal browser settings, and not because of some bug with how cookies / session data is being stored, I think that maybe the thing is to mention this as a known browser behavior in our documentation on gitbook, and not an application bug.

We could say that due to privacy settings, this may happen, show

[2022-05-18 18:53] amurphy-cl commented on #353
Hmm, I got it to work in Safari but am still getting auth requests in Chrome (even though I have the "do not track request" unchecked. Agree that this should be in documentation though.

[2022-05-20 17:46] jreddig commented on #353
I wasn't able to reproduce this issue in Chrome or Firefox 😕 But I added documentation for the Safari cross-site tracking checkbox

[2022-05-23 13:37] mswartzCL opened #370 "Permanent solution to the issue of experiment point/id conflicts"
Create a Permanent solution to the issue of experiment point/id conflicts that is temporarily fixed by "X-Prize" patch Issue #360

[2022-05-23 13:41] #213 closed

[2022-05-23 13:47] #211 closed

[2022-05-23 13:50] amurphy-cl commented on #22
Playpower could not reproduce, so closing this.

[2022-05-23 13:50] #22 closed

[2022-05-23 13:54] amurphy-cl commented on #9
@VivekFitkariwala will take a look at this in case some work has already been completed

[2022-05-24 09:19] nirmalpatel commented on #370
@amurphy-cl @mswartzCL do we need to keep issue #360 (patch code) open? It is part of the Release 1 milestone.

[2022-05-24 09:39] nirmalpatel commented on #9
@amurphy-cl this issue was solved by PR #73 Pratik has checked Scheduler after this PR. If any issues arise again, we can create a new issue.

[2022-05-24 09:39] #9 closed

[2022-05-24 13:29] mswartzCL commented on #370
@nirmalpatel I will close. I thought #360 was only for merging the patch, but now I see it is for the permanent solution.

cc @amurphy-cl

[2022-05-24 13:29] #370 closed

[2022-05-25 17:36] amurphy-cl commented on #30
Adding some additional details here.

As a user of UpGrade, I want to be able to be able to view a history of experiments that have been run but are now completed or otherwise no longer supported by UpGrade. "No longer supported" means that students are no longer being assigned conditions (either through enrollment or a post-experiment rule), and any client application code that delivers condition

[2022-05-25 18:11] SritterCL commented on #30
I like the idea of hiding archived experiments. We might also want to be able to permanently delete them, just to clean things up,

I would allow data to be downloaded from archived experiments because if you archive an experiment before downloading data, you'd have no way to get the data.

[2022-05-26 19:45] mswartzCL commented on #99
Moving this to Summer 2022 release 2 since product versioning was a significant topic in the context metadata discussion in today's meeting.

[2022-05-27 09:11] #294 closed

[2022-05-27 16:09] mswartzCL opened #376 "[EPIC] Context Metadata Phase 1"
UpGrade requires some amount of coordination between the software development team working on an app and the researcher defining an experiment in UpGrade. The researcher needs to input decision points and IDs when defining an experiment, but there is no way for the researcher to know whether that point and ID exist, and it is easy to make a typo on these kinds of IDs. UpGrade will provide function

[2022-06-02 06:04] #27 closed

[2022-06-02 06:04] #342 closed

[2022-06-02 13:49] danoswaltCL commented on #360
maybe i missed something on this in the meeting, what is the intent of this issue? If it's to merge in the patch code, that was already done by jenn. If it's to put in a more permanent solution, I was thinking that was not part of summer scope actually.

@amurphy-cl @SritterCL @jreddig

[2022-06-02 17:36] amurphy-cl commented on #360
@danoswaltCL I think the decision to merge the patch code was made while I was out, so this issue can be closed. For tracking a more permanent solution to this problem, we can create a new issue.

[2022-06-02 17:36] #360 closed

[2022-06-03 15:37] zackcl commented on #335
Here are the status details of the global exclusion and segment:

* Global Exclusion
  * Unused: When there is no defined experiment (editable, not delectable)
  * Used: When there is any experiment, even an inactive one (editable, not deletable)
* Segment
  * Unused: When the segment is used in any experiment (editable, delectable)
  * Used: When the segment is used in inactive (inactive/preview/

[2022-06-06 21:05] danoswaltCL opened #384 "Change for loading UI Env Vars"
**Is your feature request related to a problem? Please describe.**
As a dev I want to load env vars from the docker container OS at build time so that it's easy to manage different build configs for `local`, `dev`, `staging`, and `production` environments separately, the same way the backend does via AWS config files.

This is an enhancement request that springs from a bug: Currently (Angular 8),

[2022-06-07 12:53] jerith666 commented on #384
cc @kschaefe

[2022-06-09 01:02] amurphy-cl opened #386 "Finalize UI for context metadata"
Finalize designs for UI components of the context metadata

Context metadata designs in the UpGrade UI should include
* Banners or warnings for when part of an experiment is invalid according to the context metadata
* A switch to allow us ignore context, as a global feature
* A way for admins to view the full structure of the context metadata

[2022-06-09 13:24] mswartzCL commented on #353
Potential fix is to move auth to server side instead of client side. Will need some more research. Moving back to backlog.

[2022-06-10 13:42] jreddig opened #388 "Excluded users included in UI data"
**Describe the bug**
When enrolling and excluding students, excluded student data still counts toward enrollment counts and metric summaries.

**To Reproduce**
Steps to reproduce the behavior:
1. Initialize a student and assign conditions
2. Mark the experiment
3. Student appears in enrolled users
4. Send log data for the workspace
5. Student's metric data is now present in UI
6. Exclude student f

[2022-06-10 14:11] danoswaltCL commented on #384
@mfugate1 @jerith666 @kschaefe @VivekFitkariwala @ppratikcr7 @jreddig maybe someone can help me rationalize whether the change I'm hoping to do even makes sense:

I've got a branch where I can demonstrate being able to pull OS env vars into angular code `environment.ts` during the build process (not normally supported) via node `process.env`. The reason I want this is 1) so we can avoid hardcoding

[2022-06-10 14:17] jerith666 commented on #384
This sounds very similar to what @kschaefe did for our internal `cli-services` in INF-1420 and related.  I think it's best to wait and let him explain that though.

[2022-06-13 19:48] zackcl opened #390 "The Need for Usability Testing"
@danoswaltCL and I discussed today that it would be nice to conduct usability testing to get feedback from our potential users and make necessary improvements sooner than later. We've been adding many new features to UpGrade lately and it would be helpful to test/learn how some of our potential users interact with UpGrade and what the overall experience would be like.

It would also be helpful to

[2022-06-14 20:50] amurphy-cl commented on #390
This is something I've mentioned at meetings (involving Emily's team at CL or John/other members of CogSci to do some user testing of basic functions, like "set up an experiment").  We don't want random people involved. Previously we leaned on the Advisory Board for these types of questions, and while it doesn't exist anymore, we could possibly reach out to former members. Let's discuss in a desig

[2022-06-15 14:39] amurphy-cl opened #392 "UI design for factorial/partial factorial experiment support"
Tracking UI design in this issue. Algorithm development is tracked in #393

@zackcl could you link or attach your figma designs here?

## Note: Please refer to this comment below: https://github.com/CarnegieLearningWeb/UpGrade/issues/392#issuecomment-1466608087 which shows the UI design for the new factorial experiment design.

[2022-06-15 14:40] amurphy-cl opened #393 "Support for factorial/partial factorial experimental designs"
As part of the DLP deliverables, we need to implement factorial and partial factorial experimental designs. @zackcl has created design prototypes for the UI, tracked in #392

Related documents:
* [Factorial experiment documentation](https://docs.google.com/document/d/14MMMK3aTPI5T4MKCNaIxwOUzxtBP4cPK4I9O7-o7HCM/edit?usp=sharing)
* [Factorial experiment examples document](https://docs.google.com/do

[2022-06-15 20:36] kschaefe commented on #384
We use the `environment.ts` file and the standard replacement `environment.prod.ts` to handle this problem.

The base `environment.ts` file contains default values usable during development.
[code]

While the `environmet.prod.ts` file contains replacement values.
[code]

This allows for the production of a single artifact that can be deploy to any container.  Part of the deployment process is to r

[2022-06-16 12:21] mswartzCL opened #397 "Summer 2022 release 1 Planning"
- [x] New Dev Code Freeze Start: 6/24/2022
- [x] QA Testing: 6/24/2022 - 7/25/2022
- [x] Release to Prod Date: 8/1/2022
- [x] Prod Testing (A/A Tests and Load Tests):  8/1/2022 - 8/25/22 (waiting for M.7.4)

[2022-06-16 13:12] mswartzCL commented on #384
@danoswaltCL will complete a short term fix for this release. Will create a DevOps JIRA ticket to work on long-term fix.

[2022-06-21 13:57] #357 closed

[2022-06-21 14:50] ppratikcr7 commented on #10
Closing this issue as its completed in the frontend enhancement PR

[2022-06-21 14:50] #10 closed

[2022-06-22 05:17] #252 closed

[2022-06-23 08:41] mswartzCL opened #402 "Researcher needs to validate experiment design when saving an experiment to ensure valid data for the client application."
**User Story**
 - **Researcher needs to validate decision points, IDs, and conditions when saving an experiment to ensure valid data for the client application.**

**Acceptance Criteria**
 - Scenario: **Context Metadata does not exist for AppContext**
     - Given **AppContext is selected for experiment and context metadata does not exist for that AppContext**, when **experiment is saved**, then *

[2022-06-23 08:55] mswartzCL opened #403 "Researcher needs to validate experiment design when editing an experiment so that they can ensure data is valid for the given client application."
**User Story**
 - **Researcher needs to validate decision points, IDs, and conditions when _editing_ an experiment so that they can ensure data is valid for the given client application.**

**Acceptance Criteria**
 - Scenario: **Context Metadata does not exist for AppContext**
     - Given **AppContext is selected for experiment and context metadata does not exist for that AppContext and experimen

[2022-06-23 09:10] mswartzCL opened #404 "Researcher needs to disable context metadata validation so that they can design and run an experiment without providing context metadata"
**User Story**
 - **Researcher needs to disable context metadata validation so that they can design and run an experiment without providing context metadata**.

**Acceptance Criteria**
 - Scenario: **Context metadata validation default**
     - Given **new installation of UpGrade**, when **defaults are set**, then **global context metadata validation is disabled**.

  - Scenario: **Context metadat

[2022-06-23 09:11] mswartzCL commented on #404
If global context metadata validation is disabled but context metadata was received previously is it retained or cleared?

[2022-06-23 09:27] ppratikcr7 opened #405 "Enabling Edit button for Enrolling and Enrollment Complete State"
**Description:**
We need to keep the edit button enabled even when the experiment state is changed to Enrolling or Enrollment Complete State. We need to accordingly allow user to edit the participants, metrics, schedule and post-rule stepper tab details.

**Solution:**
We should allow users to edit the participants, metrics, schedule and post-rule stepper tab details. And disable the overview and

[2022-06-23 09:40] mswartzCL opened #406 "Researcher needs to validate experiment design when an experiment transitions so that they can ensure data is valid for the given client application."
**User Story**
 - **Researcher needs to validate decision points, IDs, and conditions when an experiment transitions so that they can ensure data is valid for the given client application.**

**Acceptance Criteria**
 - Scenario: **Experiment transitions to an active state - Validation Fails**
     - Given **global context metadata validation enabled and context metadata exists**, when **experiment

[2022-06-23 09:56] mswartzCL opened #407 "Researcher needs to validate experiment design when context metadata is updated so that they can ensure data is valid for the given client application."
**User Story**
 - **Researcher needs to validate decision points, IDs, and conditions when context metadata is updated so that they can ensure data is valid for the given client application.**

**Acceptance Criteria**
 - Scenario: **Experiment in an open state**
     - Given **global context metadata validation enabled and experiment in open state (Inactive, Preview, Scheduled, Enrolling, Enrollme

[2022-06-23 10:18] mswartzCL commented on #404
@zackcl Do you have a design for this setting?

[2022-06-23 10:20] mswartzCL commented on #402
@zackcl Can you please link your relevant design work? Thanks!

[2022-06-23 10:20] mswartzCL commented on #403
@zackcl Can you please link your design work? Thanks!

[2022-06-23 10:21] mswartzCL commented on #406
@zackcl Can you please link your design work? Thanks!

[2022-06-27 15:27] #335 closed

[2022-06-28 20:47] danoswaltCL opened #411 "Default Rows in Participants Step"
**Describe the bug**
No default placeholder rows displayed when user arrives at Participants step

**To Reproduce**
Steps to reproduce the behavior:
1. Create new experiment, or edit existing
2. Fill out first 2 steps

**Screenshots**
Expected:
<img width="1107" alt="image" src="https://user-images.githubusercontent.com/97542869/176284229-3eb1d75c-3f96-4cfe-a052-a8b7636c18d4.png">

Actual:
<img wi

[2022-06-28 21:00] danoswaltCL opened #412 "Create Experiment Modal: Metrics Step Design issues"
**Describe the bug**
User Interface for Metrics Step has design and user experience issues

**To Reproduce**
Steps to reproduce the behavior:
1. Create new experiment, or edit existing
2. Fill out first 3 steps

**Expected Behavior**
Table rows and headers differ from designs, and/or have unexpected behaviors:
 - Small Font sizes
 - Wide vertical spacing
 - Form fields have missing underlines
 - F

[2022-06-28 21:06] danoswaltCL opened #413 "Stepper Buttons / Modal height"
**Describe the bug**
This is somewhere between a bug and a feature request!

The Create Experiment modal has been given a fixed height, which is probably a good thing for consistency between steps, but now the nav buttons aren't sticky to the bottom as might be expected, which creates some UX awkwardness with buttons floating around wherever the content ends.

**To Reproduce**
Steps to reproduce t

[2022-06-28 21:11] danoswaltCL opened #414 "Update Experiment Overview Design to match Stepper Design"
**Describe the bug**
Stepper Design updated terminology and order of Decision Point/ Conditions, but same was not done for Experiment Overview page

**To Reproduce**
Steps to reproduce the behavior:
1. Create an experiment!
2. Click on it and view the overview!

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
This:
![image](https://user-images

[2022-06-30 12:59] mswartzCL opened #417 "Unable to access all steps in the stepper when editing an experment"
**Describe the bug**
The NEXT button on the Participants step of the stepper when editing an experiment does not go to the next step, instead it saves and closes the stepper. The SAVE button should also have been updated to UPDATE. The order of the SAVE/UPDATE and NEXT buttons is also reversed.

**To Reproduce**
Steps to reproduce the behavior:
1. Open an existing experiment
2. Click on EDIT
3. Cl

[2022-06-30 17:13] jreddig opened #418 "Required to finish repeated measure selection after delete"
**Describe the bug**
When you select a repeated metric, then delete the metric, the next metric added will continue with the repeated metric selection.

**To Reproduce**
1. Create an experiment and get to the metrics stepper
2. Select a repeated metric (masteryWorkspace or conceptBuilderWorkspace)
3. Delete the metric
4. Add a new metric
5. The metric dropdown now shows the workspace options for t

[2022-06-30 21:32] zackcl opened #419 "Hide the "Required" checkbox until it is implemented"
**Describe the bug**
This was discussed in the meeting today and it would be better to hide the "Required" checkbox until it is implemented because it can be confusing for our new users (e.g. Argos).

**To Reproduce**
Steps to reproduce the behavior:
1. Go to the Design step in the stepper and click on the "Required" checkbox in the Decision Points table

**Expected behavior**
The "Required" check

[2022-06-30 21:56] zackcl opened #420 "The "Weight Equally" checkbox should be enabled by default"
**Describe the bug**
The "Weight Equally" checkbox for the Conditions table should be enabled by default because experiments with equally weighted conditions will be more common.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to the Design step in the stepper and see the "Weight Equally" checkbox is disabled by default

**Expected behavior**
The "Weight Equally" checkbox for the Conditio

[2022-07-01 01:47] zackcl opened #421 "The weight values should always have a trailing "%" sign"
**Describe the bug**
The weight values in the Conditions table should always have a "%" sign (e.g. 50% instead of 50). Currently, when the "Weight Equally" checkbox is disabled, the "%" signs don't show up. Also, I don't think `.0` is needed for an integer so it can just be 50% instead of 50.0%.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to the Experiment Stepper's Design step, and t

[2022-07-01 02:15] zackcl opened #422 "When the "Weight Equally" checkbox is enabled, the weight values should be automatically updated"
**Describe the bug**
When the "Weight Equally" checkbox is enabled, the weight values should be automatically updated when the number of conditions changes, and the weight values should not be editable.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to the Experiment Stepper's Design step, enable the "Weight Equally" checkbox, and then edit the weight values. The conditions are no longer

[2022-07-01 14:18] amurphy-cl opened #423 "Stepper goes blank while trying to create an experiment"
**Describe the bug**
While trying to create an experiment using the stepper, it goes blank on the Metrics step. I can't proceed or even ESC out of the stepper, and my work is not saved.

**To Reproduce**
1. Go to Add Experiment
2. Click through the stepper
3. Reach Metrics (Step 4)

**Expected behavior**
Stepper should not break while creating an experiment 🙂

**Screenshots**
<img width="1019" alt

[2022-07-01 14:25] danoswaltCL commented on #423
@amurphy-cl  Can you provide any details of what was entered so far on the first 3 steps when it happened? Particularly the Design and Participant steps? I don't get it 100% of the time, for example, was just able to create https://upgrade.qa-cli.com/home/detail/4d75429a-cd48-4afa-a136-0997a94cb80e without that issue, so I suspect it may have to deal with the values entered.

[2022-07-01 14:41] amurphy-cl commented on #423
@danoswaltCL sure
 Step 1: Unit of Assignment and Consistency are set to Individual
 Step 2: Target used was `introduction_to_a_quadratic_function`, conditions are `introduction_to_a_quadratic_function_meme_control` and `introduction_to_a_quadratic_function_meme_intervention`, weighted equally, descriptions "control" and "variant"
 Step 3: No participant data added

But I just tried this again and

[2022-07-01 14:54] danoswaltCL commented on #423
welp I was able to create experiment with exactly those details. https://upgrade.qa-cli.com/home/detail/f6dff4b6-e98e-4806-ac42-43b040f01108. it has definitely happened to me recently, there's a reason somewhere...

[2022-07-01 15:05] zackcl opened #424 "The metric field should be editable after a value is selected"
**Describe the bug**
The Metric field in the Defined Metrics table is currently not editable (and greyed out) once a value is selected from the dropdown. The field should always be editable just like how other fields (e.g. Site, Target) work.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to the Experiment Stepper's Metrics step, click on the Metric field and select any value (e.g. total

[2022-07-01 15:26] zackcl opened #425 "When a masteryWorkspace metric value is selected, the Key, Metric, and Repeat Measure fields should appear at once"
**Describe the bug**
When a masteryWorkspace metric value is selected, the Key, Metric, and Repeat Measure fields should appear at once. Currently, only a Key field shows up and the placeholder is not correct (It should be Key instead of Metric).

**To Reproduce**
Steps to reproduce the behavior:
1. Go to the Experiment Stepper's Metrics step, click on the Metric field and select "masteryWorkspace

[2022-07-01 15:40] zackcl opened #426 "The defined metrics table's "Description" should be renamed to "Display Name""
**Describe the feature**
We've discussed this in the meeting and we think the defined metrics table's "Description" should be renamed to "Display Name" because this field is required unlike other description fields and it will be used as a display name on the overview page (Data tab in the latest design).

**To Reproduce**
Steps to reproduce the behavior:
1. Go to the Experiment Stepper's Metrics

[2022-07-01 15:50] zackcl commented on #426
I agree, should I close this for now then?

[2022-07-01 15:51] danoswaltCL commented on #426
no it's just a feature request instead of a bug, can just relabel

[2022-07-01 17:17] zackcl opened #427 "Table headings in the Participants step should be added/updated"
**Describe the bug**
We've decided to add headings for all the tables in the Participants step for consistency in design. Currently, we only have a heading for the bottom "Except" table when "Include Specific" is selected. We would also like to add a heading for the top table. And the headings should use the same font size and weight as the other table headings (e.g. decision points, conditions).

[2022-07-01 17:46] zackcl opened #428 "The status doesn't show up right after creating a segment"
**Describe the bug**
The status doesn't show up right after creating a segment. It shows up when I move to another section (e.g. Experiments) and come back to the segments tab.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to the Segments section and click the "Add Segment" button
2. Go through the segment stepper and click the "Create" button in the last step
3. On the Segments list pa

[2022-07-01 19:11] #417 closed

[2022-07-01 20:18] zackcl opened #429 "The dropdown list for selecting a member type should be updated"
**Describe the feature**
This was mentioned earlier by @danoswaltCL here: https://github.com/CarnegieLearningWeb/UpGrade/pull/401#issuecomment-1163420527 and discussed in the meeting. We think the dropdown list for selecting a member type (used in both the segment and experiment stepper) should be updated. Currently, the grey label `group` is shown above the group types (e.g. Class, School) which

[2022-07-01 20:44] zackcl opened #430 "The number column for the tables in the Participants step should be removed"
**Describe the bug**
The number column for the tables in the Participants step should be removed for consistency in design. Also, there should be a default row in each table (separate issue: https://github.com/CarnegieLearningWeb/UpGrade/issues/411).

**Screenshots**
  * Current design:
<img width="500" alt="Screen Shot 2022-07-01 at 4 41 31 PM" src="https://user-images.githubusercontent.com/90279

[2022-07-02 06:11] ppratikcr7 commented on #430
This is already handled earlier in the merged [PR](https://github.com/CarnegieLearningWeb/UpGrade/pull/415).
Closing this.

[2022-07-02 06:11] #430 closed

[2022-07-04 05:26] RidhamShah commented on #411
![image](https://user-images.githubusercontent.com/49234788/177086911-1d59472a-8979-4ed6-aad5-b2cde884dec9.png)

Default rows are now showing.

[2022-07-04 12:43] ppratikcr7 commented on #425
@zackcl Hey Zack, I will make the placeholder change in PR related to other release 1 bugs. We discussed about the main bug you have mentioned and we would say that it is meant to be visible one after the other as it was similarly implemented earlier in separate monitored metrics page. The reason for this is that the next set id auto complete values depend upon the previously selected value. In ca

[2022-07-04 12:46] ppratikcr7 commented on #424
@zackcl  It was similarly implemented earlier in separate monitored metrics page. The reason for this is that the next set of auto complete values depend upon the previously selected value. In case we keep all 3 visible together at once, it might create an issue when a user might click in the last dropdown, which would not load and also if they change the previous dropdown the next dropdown values

[2022-07-04 12:57] ppratikcr7 commented on #412
@danoswaltCL Few notes on the above expected behaviour:

Small Font sizes (Will do that)
Wide vertical spacing (Will do that)
Form fields have missing underlines (Will do that, but it's not there in figma design. If that's required, will have to do that in other stepper pages as well)
First item "Metric*" is a dropdown, but no triangle indicator given (Will do that, make it select option)
Selected

[2022-07-05 17:37] #419 closed

[2022-07-05 17:37] #426 closed

[2022-07-05 20:32] danoswaltCL commented on #413
i can take this if we agree that sticking with a fixed modal height is fine with buttons aligned to stay put at the bottom?

i'd say though that this change may take a little time due to refactoring some stuff, there's potential for it being more complicated than it appears on surface. if there are more important things to tackle I can look elsewhere.

@amurphy-cl @zackcl @mswartzCL

[2022-07-06 10:11] ppratikcr7 commented on #412
@zackcl okay, so let's confirm this in the meeting. Do we want metrics to be type ans select or dropdown.

[2022-07-06 10:55] RidhamShah commented on #420
This issue is combined with issue #422 and merge with PR #436

[2022-07-06 12:10] #418 closed

[2022-07-06 14:35] #422 closed

[2022-07-06 19:41] jreddig commented on #411
There should also be a default row on the Except table per the design
<img width="958" alt="screen_shot_2022-07-06_at_2 59 43_pm" src="https://user-images.githubusercontent.com/97543136/177629959-a9b23f91-a5af-4441-960b-9d7946178cbc.png">

[2022-07-06 19:43] jreddig commented on #414
Small update, the design has text in tables left aligned, except the weight column

[2022-07-06 19:46] jreddig commented on #405
When editing an experiment that has enrollment complete:
1. Click Next
2. Design step is skipped and you are directed to the Participants step
3. Click Back
4. Design step is accessed and empty

The design step should be disabled on "Back"

[2022-07-07 11:05] ppratikcr7 commented on #411
@jreddig As per steve's response, we have not kept a default row for "except" table. Should we still keep default row for "except" table

[2022-07-07 12:50] zackcl commented on #404
Here's a link to the latest Figma design: https://www.figma.com/file/uYxnCT2dXTftSZKFQ00Q0y/UpGrade-UI-Prototype-(latest)

[2022-07-07 12:50] zackcl commented on #402
Here's a link to the latest Figma design: https://www.figma.com/file/uYxnCT2dXTftSZKFQ00Q0y/UpGrade-UI-Prototype-(latest)

[2022-07-07 12:50] zackcl commented on #403
Here's a link to the latest Figma design: https://www.figma.com/file/uYxnCT2dXTftSZKFQ00Q0y/UpGrade-UI-Prototype-(latest)

[2022-07-07 12:51] zackcl commented on #406
Here's a link to the latest Figma design: https://www.figma.com/file/uYxnCT2dXTftSZKFQ00Q0y/UpGrade-UI-Prototype-(latest)

[2022-07-07 12:51] zackcl commented on #407
Here's a link to the latest Figma design: https://www.figma.com/file/uYxnCT2dXTftSZKFQ00Q0y/UpGrade-UI-Prototype-(latest)

[2022-07-07 12:54] zackcl commented on #411
@jreddig I think it's more natural to have the default row even if it's not required, and It's better for consistency. I think we can discuss this in the meeting.

[2022-07-07 13:36] jreddig commented on #425
Per the discussion on 7/7, we should display all the options and if a user reselects an option, the future selections should be cleared.

[2022-07-07 13:57] jreddig commented on #412
Per the discussion on 7/7, a combo box is acceptable, but it should validate against the metadata

[2022-07-07 15:51] amurphy-cl opened #438 "Load testing large numbers of of explicit-included or excluded individuals"
What happens if we have an explicit-include or -exclude list that is hundreds of thousands of entries long? How does UpGrade handle this? Does it create a bottleneck?

**Describe the solution you'd like**
UpGrade should be able to handle this type of long list of individual users, but we should test it in development first.

[2022-07-08 09:08] ppratikcr7 commented on #405
@jreddig When I tried recreating this, for me only the weights column was editable on design step as well as coming back to design step. This is due to the PR for enabling equal weights. I am working on it

[2022-07-08 09:24] ppratikcr7 commented on #414
@jreddig Did you mean the Design stepper page? There was some change in upcoming PR's. Will again set the weights to center.

[2022-07-08 12:26] #405 closed

[2022-07-08 13:42] jreddig commented on #414
@ppratikcr7 oh, it looks like we're referencing different designs. In Zack's most recent designs, the weights are centered while the rest of the text is left aligned.
<img width="747" alt="Screen Shot 2022-07-08 at 9 39 45 AM" src="https://user-images.githubusercontent.com/97543136/178003381-38d4e403-b185-4257-90ae-0504b40758a2.png">

[2022-07-08 14:08] zackcl commented on #414
This is the latest  (tab-based) overview design. Yes, all should be left-aligned just like the stepper. I think the weight could also be left-aligned. (We'll need to discuss this in the design slack channel)

<img width="700" alt="Experiment Detail - Design (Inactive) 1" src="https://user-images.githubusercontent.com/90279765/178007789-3a523521-c3fc-4870-98f4-968181276d5b.png">

[2022-07-08 14:19] danoswaltCL commented on #414
what I mean by left-aligned is that there isn't a gap on the left-hand side. in the stepper we have this:

[2022-07-08 14:21] danoswaltCL commented on #414
<img width="1491" alt="image" src="https://user-images.githubusercontent.com/97542869/178010591-d1cc22c5-8722-42cf-84f7-b5c8f0fa4e87.png">

<img width="989" alt="image" src="https://user-images.githubusercontent.com/97542869/178010846-222416eb-5252-4c4e-b7aa-e4d57c5d4f3a.png">

[2022-07-08 18:32] zackcl commented on #414
@danoswaltCL Do you think the leftmost column should move further to the left side in the latest Figma design too?
<img width="750" alt="Experiment Detail - Design (Inactive) 4" src="https://user-images.githubusercontent.com/90279765/178049950-21c0f442-a593-4dd3-9ce3-85087aebfd17.png">

I think one reason I left some space there was to show an error icon and a message on its leftside.
<img width="

[2022-07-11 16:30] #423 closed

[2022-07-11 19:02] zackcl commented on #414
Here are the latest stepper and overview page design:
  * The weight column header should be `WEIGHT (%)`
  * The weight column values should be right-aligned
  * There should be less gap on the left and right side of the table in the overview page
  * The target and weight columns should be aligned

<img width="500" alt="Experiments - Add Experiment-02-06" src="https://user-images.githubuserconte

[2022-07-11 19:51] zackcl commented on #421
Here's the new design as you suggested:
<img width="500" alt="Experiments - Add Experiment-02-06" src="https://user-images.githubusercontent.com/90279765/178346507-d21fe33a-fd46-4eca-aad5-0e3ba3480a27.png">
<img width="750" alt="Experiment Detail - Design (Inactive) 4" src="https://user-images.githubusercontent.com/90279765/178346530-318600ed-c585-46d9-9fb1-db6f300f4285.png">

Link to the latest d

[2022-07-12 12:41] #429 closed

[2022-07-12 12:59] #428 closed

[2022-07-13 17:40] jreddig commented on #438
First test: created a 10,010 student ids segment and a 1400 school ids segment. Experiment is set to include the school ids and exclude the student ids. Attempted to enroll 300 concurrent users via locust - all users had an included school id and 50% of the users had an excluded student id.  While the assignment rules were obeyed, the average latency shot up to over 50 seconds and the db utilizati

[2022-07-13 19:07] danoswaltCL opened #447 "Fixed-Layout Modals throughout app"
**Is your feature request related to a problem? Please describe.**
Fixed-layout modals would make maintaining and developing new modals easier. As a user, I'd get more consistent UX.

**Describe the solution you'd like**
Currently the modals are being developed more or less individually, instead of sharing styles, leading to a lot of redundant code, and every modal is sized differently, depending

[2022-07-14 12:28] VivekFitkariwala opened #449 "New format of Simple Export"
CSV export within the experiment should mail the csv with new format.

https://docs.google.com/spreadsheets/d/1dWwx53iuGrcQK9v6EWeVyCqQ9A5FMlTtmAe_j24vBIg/edit#gid=205486997

[2022-07-15 15:46] jreddig commented on #438
Next experiment was include all, exclude the 10,010 student segment. Attempted to enroll 300 concurrent users via locust - 50% of the users had an excluded student id. Similar behavior observed, latency peaked at 50s an db cpu utilization above 25%
<img width="1024" alt="Screen Shot 2022-07-15 at 11 42 50 AM" src="https://user-images.githubusercontent.com/97543136/179259062-fdf3d042-2813-4036-8f1c

[2022-07-15 15:52] danoswaltCL commented on #438
does it report which calls were running slowest?

[2022-07-15 15:55] jreddig commented on #438
Yes, /mark was by far having the most trouble and failures, followed by /assign then /log. The failures are all 504 GATEWAY_TIMEOUT
<img width="1107" alt="Screen Shot 2022-07-15 at 11 53 46 AM" src="https://user-images.githubusercontent.com/97543136/179260745-b3fdab91-dcf8-4ae6-b10d-d823faf1304b.png">
<img width="1347" alt="Screen Shot 2022-07-15 at 11 55 24 AM" src="https://user-images.githubuser

[2022-07-18 14:13] jreddig commented on #429
This has been fixed.

![Image](https://user-images.githubusercontent.com/97543136/179530936-bd9d9369-dcd2-4c4f-9675-3592d98eeb70.png)

[2022-07-18 19:32] zackcl commented on #424
A video showing how metrics can be editable. The placeholder "Metric" showing in red color indicates that the user has deleted the previously typed metric name:
https://user-images.githubusercontent.com/90279765/179601533-85b28518-c4e2-456d-98a3-00cd538f940b.mov

[2022-07-19 03:24] zackcl commented on #392
The key frames:

<img width="500" alt="Experiments - Add Experiment-02-13" src="https://user-images.githubusercontent.com/90279765/179656718-c137795d-73d3-4fd3-82d2-5249a1e1da05.png">
<img width="500" alt="Experiments - Add Experiment-02-14" src="https://user-images.githubusercontent.com/90279765/179656734-dadb21a8-e81a-4162-b100-36967c0dcdea.png">
<img width="500" alt="Experiments - Add Experimen

[2022-07-19 09:34] nirmalpatel commented on #386
@zackcl do we have a design for context metadata validation in the experiment create/edit stepper?

[2022-07-19 11:57] RidhamShah commented on #438
We think that as there is a huge Segment present and it is called and checked for the user every time for mark and assign. A better solution for this scenario is to create a cache for this segment and fetched its value from it. We found a [cache manager](https://www.npmjs.com/package/cache-manager) which can be used for segment caching on the server side.

[2022-07-19 14:40] zackcl commented on #404
* The page where the "Validate Context Metadata" toggle is (This design is not 100% fixed but the toggle should exist somewhere admins can see)
<img width="750" alt="0" src="https://user-images.githubusercontent.com/90279765/179777430-6654d869-5a5c-499b-9457-dc4259a33d38.png">

  * An error icon will appear next to invalidated experiments (nothing appears when hovering over the icon)
<img width="7

[2022-07-19 15:21] zackcl commented on #402
I don't think we need to validate the context metadata and provide feedback (e.g. showing error icons) when creating an experiment though the stepper UI because the fields that need validation (e.g. Site, Target, Condition) can be completed using the combo box, and the available options will be pulled from the metadata so it guarantees the validation anyway (unless the user intentionally wants to

[2022-07-19 15:31] zackcl commented on #403
I don't think we need to validate the context metadata and provide feedback (e.g. showing error icons) when editing an experiment for the same reason I commented on https://github.com/CarnegieLearningWeb/UpGrade/issues/402#issuecomment-1189190080.

[2022-07-19 15:46] zackcl commented on #406
* An invalidated inactive experiment cannot be transitioned to active status (shows a message and disable active options)
<img width="500" alt="7" src="https://user-images.githubusercontent.com/90279765/179792166-a9ebc1f7-3e87-4c75-9a2c-7d6e44b8b8ae.png">
<img width="500" alt="8" src="https://user-images.githubusercontent.com/90279765/179792183-ba63f3c0-a2c0-49b7-82a9-b9640affe0de.png">

  * A sch

[2022-07-19 17:12] zackcl commented on #407
* An error icon will appear next to invalid experiments (nothing appears when hovering over the icon)
<img width="750" alt="1" src="https://user-images.githubusercontent.com/90279765/179807113-b586a1d9-bad4-4767-b953-5d65cd305759.png">

  * An error icon will appear next to the experiment name at the top (shows a message tooltip on mouse hover)
<img width="750" alt="2" src="https://user-images.git

[2022-07-21 12:52] nirmalpatel commented on #438
@danoswaltCL @jreddig we are evaluating one more option for speeding up the include/exclude algorithm implementation. We are trying to see if we can find segment memberships f a user using the SQL query and use that along with the segment dependency graph object to optimize the algorithm. Not sure if this can outperform the caching option, but we are evaluating both options...

[2022-07-21 14:09] mswartzCL opened #456 "[EPIC] Context Metadata Phase 2"
UpGrade requires some amount of coordination between the software development team working on an app and the researcher defining an experiment in UpGrade. The researcher needs to input decision points and IDs when defining an experiment, but there is no way for the researcher to know whether that point and ID exist, and it is easy to make a typo on these kinds of IDs. UpGrade will provide function